/* *************************** */
/* *************************** */
/* *************************** */

.section10_invest {
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    height: 100vh;
}  
.section10_invest .section10_invest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.section10_invest .section10_invest_title .section10_invest_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 3rem;
font-weight: 700;
line-height: 3rem;
}
.section10_invest .section10_invest_title .section10_invest_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1rem;
line-height: 1.5rem;
font-weight: 400;
width: 60rem;
}
/*  */

@media only screen and (max-width: 927px) {
    .section10_invest {
        height: unset;
    }
    .section10_invest .section10_invest_title .section10_invest_title_text_big {
        width: 80%;
    }
    .section10_invest .section10_invest_title .section10_invest_title_text_small {
        width: 80%;
    }
}