/* *************************** */
/* ************* SECTION 02 ************** */
/* *************************** */


.section02 .section02_title .section02_business_title_text_big {
position: relative;
display: inline-block;
flex-direction: column;
justify-content: center;
align-items: center;
/* text-transform: uppercase; */
font-size: 1.5rem;
font-weight: 400;
line-height: 2rem;
}




