
.section01_ambassador{
    padding-top: 4rem;
    position: relative;
    display: block;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.section01_ambassador img.bg_picture_s1_ambassador {
    position: absolute;    
    width: 100%;
    height: 100%;
    /* height: auto; */
    object-fit: cover;
    border-radius: unset !important;
}
.section01_ambassador .teaser {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    bottom: 7%;
    right: 7%;
    width: 23rem;
    height:23rem;
    color: white;
    background-color: #0f6fb87c;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

    .container_s1_ambassador .box-top-s1_ambassador {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* height: 10rem; */
    box-shadow: unset;
    margin-bottom: 1rem;
    min-height: 7rem;
    }
    .container_s1_ambassador .box-top-s1_ambassador img{
        height: 5rem;
        width: auto;
    }
    
    .container_s1_ambassador .box-bottom-s1_ambassador {
    min-height: 7rem;
    position: relative;
    text-align: center;
    line-height: 1.4rem;
    font-size: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    }
    
    .container_s1_ambassador .box-bottom-s1_ambassador .box-bottom-title-s1_ambassador {
        color: #fff;
        font-size: 1.7rem;
        line-height: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .container_s1_ambassador .box-bottom-s1_ambassador .box-bottom-content-s1_ambassador {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    }


.s1_ambassador_Btn_container {
    width: 100%;
    min-height: 5.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
}

@media only screen and (max-width: 560px) {
    .container_s1_ambassador .box-top-s1_ambassador {
        min-height: 4rem;
    }
    .container_s1_ambassador .box-top-s1_ambassador img{
        height: 3rem;
    }
    .container_s1_ambassador .box-bottom-s1_ambassador .box-bottom-title-s1_ambassador {
        
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 0.5rem;
    }
    .container_s1_ambassador .box-bottom-s1_ambassador .box-bottom-content-s1_ambassador {
        
        font-size: 1rem;
    }
    .section01_ambassador .teaser {
        width: 18rem;
        right: 4%;
    }
    .s1_ambassador_Btn_container {
        height: 3rem;
    }
}