

.section01_business{
    padding-top: 4rem;
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.section01_business img.bg_picture_s1_business {
    position: absolute;    
    width: auto;
    height: 110%;
    /* height: auto; */
    object-fit: cover;
    border-radius: unset !important;
}
.section01_business .teaser_s1_business_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
    padding: 1rem;
    right: 0;
    width: 50%;
    height: 100%;
    /* background: var(--primaryAdaaColor); */
    background: rgb(37, 51, 107);
    color: white;
}


.section01_business .teaser_s1_business_container .teaser_s1_business_title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
}

.teaser_s1_businessBtn_container {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 900px) {
    .section01_business{
        height: fit-content;
        min-height: 100vh;
    }
    .section01_business .teaser_s1_business_container {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background: rgba(37, 51, 107, 0.7);
    }
}






