/* *************************** */
/* ************* SECTION 02 ************** */
/* *************************** */

.section03_ambassador {
    /* top: 4rem; */
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
}
.section03_ambassador img.bg_picture_s3_ambassador {
    position: absolute;    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: unset !important;
}
.section03_ambassador .bg_color_layer_s3_ambassador {
    position: absolute;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.9);
    /* border-top: 100px solid transparent; */
    /* border-right: 100vw solid var(--primaryAdaaColor); */
    opacity: 100%;
}
.section03_ambassador .section03_ambassador_title {
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: white;
}
.section03_ambassador .section03_ambassador_title .section03_ambassador_title_text_big {
position: relative;
display: inline-block;
flex-direction: column;
justify-content: center;
align-items: center;
/* text-transform: uppercase; */
font-size: 2.2rem;
font-weight: 400;
line-height: 2.5rem;
}
.section03_ambassador .section03_ambassador_title .section03_ambassador_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1.2rem;
line-height: 1.5rem;
font-weight: 400;
}
.grid-container-section03_ambassador {
position: relative;
display: grid;
width: 70rem;
justify-content: center;
grid-template-columns: 1fr 1fr 1fr;
padding: 10px;
grid-gap: auto;
margin-bottom: 7rem;
}
.grid-container-section03_ambassador > div {
/* background-color: rgba(255, 255, 255, 0.8); */
text-align: center;
font-size: 1.3rem;
font-weight: 500;
line-height: 2rem;
color: #fff;
/* background: coral; */
margin: 1rem;
padding: 1rem;
height:fit-content;
}



.s3_ambassador_Btn_container {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 100%;
    height: 5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1070px) {
    .section03_ambassador {
        height: unset;
    }
    .section03_ambassador .section03_ambassador_title {
        margin-top: 2rem;
    }
    .grid-container-section03_ambassador {
        grid-template-columns: 1fr 1fr;
        height:fit-content;
        width: 50rem;
    }
    .grid-container-section03_ambassador .item{
        grid-template-columns: 1fr 1fr;
        min-height:22rem;
    }
}

@media only screen and (max-width: 768px) {
    .grid-container-section03_ambassador {
        grid-template-columns: 1fr;
        width: 25rem;
    }
    .grid-container-section03_ambassador .item{
        grid-template-columns: 1fr;
        min-height:5rem;
    }
    .section03_ambassador .section03_ambassador_title {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .section03_ambassador .section03_ambassador_subtitle {
        font-size: 1.15rem;
        line-height: 1.5rem;
    }
}