/* *************************** */
/* ************* UTILISER TUNNEL VENTE ************** */
/* *************************** */

.section08_invest {
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    height: 100vh;
}  
.section08_invest .section08_invest_title {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* margin-top: 7rem; */
    margin-bottom: 1rem;
    margin-top: 4rem;
    width: 100%;
    text-align: left;
}
.section08_invest .section08_invest_title .section08_invest_title_text_big {
    position: relative;
    color: var(--primaryAdaaColor);
    font-size: 5rem !important;
    font-weight: 700;
    line-height: 3.2rem;
}
.section08_invest .section08_invest_title .section08_invest_title_text_small {
    position: relative;
    display: inline-block;
    justify-content: left;
    align-items: center;
    text-transform: unset;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    color: var(--primaryAdaaColor);
}

/*  */


.container_s8_invest{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 22rem;
    width: 100%;
    padding-left: 5rem;
    padding-right: 3rem;
    /* padding-top: 2rem; */
    /* margin-bottom: 5rem; */
}
.boxLeft_s8_invest {
    /* background: var(--primaryAdaaColor);
    background: #000; */
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    padding: 0 1rem 0 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35rem;
    /* align-items: center; */
}
.boxLeft_text_s8_invest {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5rem;
}

.boxLeft_text_author_s8_invest span {
    color: #000;
}

.boxRight_s8_invest {
    position: relative;
    height: 100%;
    width: 40rem;
}
.boxRight_s8_invest img.bg_picture_s8_invest {
    position: relative;    
    width: auto;
    height: 100%;
    /* height: auto; */
    /* object-fit: contain; */
    border-radius: unset !important;
}

.boxRight_text_s8_invest {
    position: absolute;    
    max-width: 17rem;
    height: 17rem;
    bottom: -3rem;
    right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50%;
    background: rgba(0, 0, 139, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    color: gold;
}
.boxRight_text_s8_invest .box-top-s8_invest img{
    width: auto;
    height: 3rem;
}
.box-bottom-title-s8_invest{
    font-size: 1.2rem;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.box-bottom-title-s8_invest span {
    font-size: 4rem;
    font-weight: 700;
}

.boxRight_s8_investBtn_container {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    display: flex;
    padding-left: 2rem;
}


/*  */

.containerBottom_s8_invest {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin-bottom: 3rem;
}
.containerBottom_icon_s8_invest {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: var(--primaryAdaaColor);
}

@media only screen and (max-width: 1060px) {
    .container_s8_invest {
        /* margin-top: 6rem; */
        /* height: unset !important; */
        height: fit-content;
        min-height: 45rem;
        padding-left: 0rem;
        padding-right: 0rem;
        flex-direction: column;
        margin-bottom: 5rem;
    }
    .boxLeft_s8_invest {
        margin-bottom: 1rem;
        width: 90%;
    }
    /* .section08_invest .section08_invest_title {
        
    } */
}

@media only screen and (max-width: 1100px) {
    .section08_invest {
        height: unset;
    }
    .container_s8_invest {
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 927px) {
    .section08_invest .section08_invest_title .section08_invest_title_text_big {
        width: 80%;
    }
    
    .container_s8_invest {
        /* margin-top: 6rem; */
        height: unset !important;
        min-height: 30rem;
        flex-direction: column;
        padding-bottom: 2rem;
    }

    .boxLeft_s8_invest {
        margin-bottom: 1rem;
        width: 100%;
    }
    /* .boxRight_s8_invest {
        width: 100%;
    } */
    .boxRight_s8_invest img.bg_picture_s8_invest {
        width: 100%;
        height: auto;
    }
    .containerBottom_s8_invest {
        margin-top: 7rem;
        width: 100%;
    }
}