
.grid-container-section02-business .item {
box-shadow: 5px 5px 10px rgb(0 0 0 / 0.5);
background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ffffffFF' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e") !important;
/* min-height: 22rem; */

}
