@import url('http://fonts.cdnfonts.com/css/eras-light-itc');                
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --primaryAdaaColor: #3862ae;
  --anotherBlueColor: #5c95ff;
  /* --secondaryAdaaColor: #0D0037; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Eras Light ITC, PT Sans, sans-serif;
  /* font-weight: 400; */
}

.satisfy_font {
  font-family: Satisfy;
  font-size: 3.3rem !important;
  margin-bottom: 1rem !important;
}
/* .satisfy_line_height {
  line-height: 5rem !important;
} */
