
  
  .Slider_ambassador {
    width: 60rem;
    /* height: unset !important; */
    /* height: 400px; */
    /* overflow: auto; */
    white-space: normal ;
  }
  
  .ItemComponent {
    display: inline-block;
    width: 50rem;
    height: 200px;
  }

  /* .bg_picture_card-slide_ambassador_invest {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  } */

  /* ********************************************* */
  /* **************************************************** */

  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.carousel-container-ambassador {
  margin-top: 3rem;
  /* max-width: 1280px; */
  /* width: 100%; */

  margin: 50px auto;
  margin-top: 0;
  /* height: 650px; */
  /* min-height: 400px; */
  position: relative;
  margin-bottom: 5rem;
}

.carousel-container-ambassador .carousel-inner {
  overflow: hidden;
  width: 100%;
}
.carousel-container-ambassador .track {
  display: inline-flex;
  transition: transform 0.5s;
}
.carousel-container-ambassador .card-container-slide_ambassador {
  /* width: 259px; */
  width: 33.33333%;  
  flex-shrink: 0;
  height: unset !important;
  /* min-height: 400px; */
  margin-bottom: 1rem;
  /* padding-left: 4rem; */
  /* padding-right: 15px; */
  box-sizing: border-box;
  /* background: lightgreen; */

  color: #fff;
}
.fit-content-slider{
  width: fit-content !important;
}
.carousel-container-ambassador .card-container-slide_ambassador .card-slide_ambassador {
  /* width: 100%; */
  width: 90%;
  
  height: 100%;
  /* border: 1px solid #ccc; */
  /* box-shadow: 3px 3px 3px rgb(0 0 0 / 0.3); */
  /* border-right: 5px solid var(--primaryAdaaColor); */
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.5rem;
  margin-left: 1rem;
  word-wrap: break-word !important;
  
}
.carousel-container-ambassador .card-container-slide_ambassador .card-slide_ambassador .img{
    /* width: 5rem; */
}
.nav-ambassador button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 0.3);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: #fff !important;
  color: var(--primaryAdaaColor);
}
.nav-ambassador button i{
  font-size: 3rem;
}

.nav-ambassador .prev {
  left: -44px;
  display: none;
}
.nav-ambassador .prev.show {
  display: flex;
}
.nav-ambassador .next {
  right: -45px;
  justify-content: 10%;
  /* padding-left: 10px; */
}
.nav-ambassador .next i {
    /* margin-left: 14px; */
}
.nav-ambassador .next.hide {
  display: none;
}

/* .card-slide_ambassador > * {
  flex: 1;
} */
.card-slide_ambassador .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card-slide_ambassador .info {
  flex-basis: 40px;
  background: #333;
  color: #fff;
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}

/* **************************************** */
/* .card-slide_ambassador {
  display: block;
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 1rem;
  padding: 1rem;
  width: 5rem;

} */
.card-slide_ambassador .box-top-slide_ambassador {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 300px;
  /* max-height: 15rem; */
  box-shadow: unset;
  /* background: blue; */
  }
  .card-slide_ambassador .box-top-slide_ambassador div.perso_ambassador {      
      width: 100%;
      height: 300px;
      object-fit: contain;
      /* border-radius: 50%; */
      background: var(--primaryAdaaColor);
      border: 5px solid var(--primaryAdaaColor);
  }


.card-slide_ambassador .box-bottom-slide_ambassador {
  position: relative ;
  display: flex ;
  flex-direction: column ;
  align-items: baseline;
  justify-content: center ;
  text-align: center ;
  line-height: 1.3rem;
  font-size: 1rem;
  padding-top: 0.5rem;
  height: fit-content;
  /* background: lightseagreen; */
  /* z-index: 1; */
}


.card-slide_ambassador .box-bottom-slide_ambassador .box-bottom-content-slide_ambassador {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.3rem;
  width: 100%;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  display: flex ;
  padding-bottom: 1rem;
  justify-content: left ;  
  text-align: justify;
}

.card-slide_ambassador .box-bottom-slide_ambassador .box-bottom-title-slide_ambassador {
  /* color: var(--primaryAdaaColor); */
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.3rem;
  width: 100%;
  display: flex ;
  justify-content: right ;  
  text-align: right ;
}
.card-slide_ambassador .box-bottom-slide_ambassador .box-bottom-title-slide_ambassador p span{
  font-weight: 700;
  color: gold;
}
/* ************************************** */

/* .box-bottom-absolute-slide_ambassador{
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.5rem;
  justify-content: center;
  align-items: center;
} */
/* //////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1050px) {
    .carousel-container-ambassador {
      width: 50rem;
    }
}
@media screen and (max-width: 920px) {
    .carousel-container-ambassador {
      width: 40rem;
    }
    .carousel-container-ambassador .card-container-slide_ambassador {
        width: 50% !important;
    }
}
/* @media screen and (max-width: 770px) {
  .carousel-container-ambassador {
    width: 35.3rem;
  }
  .carousel-container-ambassador .card-container-slide_ambassador {
      width: 50% !important;
  }
} */
@media screen and (max-width: 770px) {
  .carousel-container-ambassador {
    width: 20rem;
  }
  .carousel-container-ambassador .card-container-slide_ambassador {
    width: 50% !important;
      
  }
}
