.grid-container-section17_invest .item {
    display: flex;
    align-items: center;
    min-height: 1rem;
    height: fit-content;
    }

    
    .grid-container-item-section17_invest{
        position: relative;
        display: grid;
        min-width: 10rem;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 10fr;
        padding: 10px;
    }


    .grid-container-section17_invest .item .box-left-s17_invest {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    /* max-height: 5rem; */
    /* width: 60px; */
    box-shadow: unset;
    
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    }
    .grid-container-section17_invest .item .box-left-s17_invest div.perso_s17_invest {
        
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
        background: var(--primaryAdaaColor);
        border: 3px solid var(--primaryAdaaColor);
    }
    
    .grid-container-section17_invest .item .box-right-s17_invest {
    position: relative;
    padding-left: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    line-height: 1.3rem;
    font-size: 1rem;
    /* text-transform: lowercase; */
    }

    .grid-container-section17_invest .item .box-right-s17_invest span{
        font-weight: 700;
    }
    