.grid-container-section16_invest .item {
    /* box-shadow: 5px 5px 10px rgb(0 0 0 / 0.5); */
    display: flex;
    align-items: center;
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230f70b8FF' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
    min-height: 5rem;
    margin-bottom: 1.5rem;
    
    }
    .grid-container-section16_invest .item .box-stepLine-s16_invest {
        display: flex;
        align-items: center;
        justify-content: left;
        border-radius: 50%;
        background: var(--primaryAdaaColor);
        height: 60px;
        width: 60px;
        box-shadow: unset;
    }
    .grid-container-section16_invest .item .box-stepLine-s16_invest span {
        color: white;
        font-weight: 700;
        font-size: 1rem;
        margin-left: 0.8rem;

    }

    .grid-container-section16_invest .item .box-left-s16_invest {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 60px;
    width: 60px;
    box-shadow: unset;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    }
    .grid-container-section16_invest .item .box-left-s16_invest .one_img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    
    .grid-container-section16_invest .item .box-right-s16_invest {
    position: relative;
    padding-left: 0.7rem;
    display: inline-block;
    align-items: center;
    text-align: left;
    line-height: 1.3rem;
    font-size: 1rem;
    /* font-weight: 400; */
    /* text-transform: lowercase; */
    }
    .grid-container-section16_invest .item .box-right-s16_invest a {
        text-decoration: none;
        color: var(--primaryAdaaColor);
    }
    .grid-container-section16_invest .item .box-right-s16_invest span.mini {
        font-size: 1rem;
    }
    