
.section04 {
    position: relative;
    display: flex;
    /* top: 5rem; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.section04 img.bg_picture_s4 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: unset !important;
}
.section04 .teaser_s4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: top;
    letter-spacing: 0.1rem;
    padding: 1rem;
    right: 0 !important;
    width: 40rem;
    min-height: 110vh;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}


.section04 .teaser_s4 .teaser_s4_title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.section04 .teaser_s4 .teaser_s4_content {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.section04 .teaser_s4 .teaser_s4_content p{
    margin: 1rem;
}
.section04 .teaser_s4 .teaser_s4_content ul{
    margin: 0.5rem;
    margin-left: 2rem;
    list-style: disc;
}
.section04 .teaser_s4 .teaser_s4_content ul li{
    margin-bottom: 1rem;
    
}
.teaser_s4Btn_container {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 900px) {
    .section04 .teaser_s4 {
        position: relative;
        width: 100%;        /* background: rgba(37, 51, 107, 0.7); */
    }
}




