.oneSecondaryBtn {
    background: white;
    border-radius: 5px;
    min-width: 12rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    line-height: 1.2rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--primaryAdaaColor);
    text-decoration: unset;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
input[type=submit].oneSecondaryBtn {
    border: none;
    
}