/* *************************** */
/* *************************** */
/* *************************** */

.section06_formateur {    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    min-height: 100vh;
    width: 100%;
    text-align: center;
    overflow: hidden;
    line-height: 1.2rem;
    padding: 5rem 1rem 3rem 1rem;
}  
.section06_formateur .section06_formateur_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 2rem; */
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
}



.section06_formateur .section06_formateur_title .section06_formateur_title_text_big {
position: relative;
display: flex;
justify-content: left;
align-items: center;
color: var(--primaryAdaaColor);
width: 100%;
font-size: 1.8rem;
font-weight: 700;
line-height: 2rem;
text-align: left;
}
.section06_formateur .section06_formateur_title .section06_formateur_title_text_small {
position: relative;
display: flex;
justify-content: left;
align-items: center;
text-transform: unset;

font-size: 1rem;
line-height: 1.5rem;
font-weight: 400;
/* width: 60rem; */
}


.section06_formateur_container {
    width: 100%;
    /* padding-left: 8%;
    padding-right: 8%; */
}

/*  */
.grid-container-section06_formateur{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: top;
    grid-template-columns: 1fr 1fr;
    /* padding: 10px; */
}


.grid-container-section06_formateur > div {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 1;
}




.grid-container-itemLeft-section06_formateur{
    position: relative;
    display: grid;
    min-width: 10rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 10fr;
    padding: 10px;
    margin-bottom: 1rem;
}
.grid-container-itemLeft-section06_formateur .box-left-s6_formateur {
position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 3rem;
height: 100%;
box-shadow: unset;
}
.grid-container-itemLeft-section06_formateur .box-left-s6_formateur .one_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.grid-container-itemLeft-section06_formateur .box-right-s6_formateur {
position: relative;
padding-left: 0.7rem;
display: flex;
flex-direction: column;
align-items: left;
justify-content: center;
text-align: left;
line-height: 1.3rem;
font-size: 1rem;
font-weight: 700;
}
.grid-container-itemLeft-section06_formateur .box-right-s6_formateur span{
    color: var(--primaryAdaaColor);
}

/*  */
/*  */
.grid-container-itemRight-section06_formateur{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: top;
    grid-template-columns: 1fr;
}
.grid-container-itemRight-section06_formateur div{
    /* padding-bottom: 0.8rem; */
}

.grid-container-info_perso-section06_formateur {
    position: relative;
    display: grid;
    justify-content: left;
    align-items: top;
    grid-template-columns: 1fr 1fr;
}
.grid-container-itemRight-section06_formateur span{
    font-size: 0.9rem;
}
.grid-container-itemRight-section06_formateur b.section_title,
.grid-container-itemRight-section06_formateur span {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 1rem;
    /* text-align: left; */
}


.grid-container-itemRight-section06_formateur div{
    padding-bottom: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}


/*  */

.img_container_s6_formateur{   
    position: relative;   
    width: 90%;
    height: 25rem;
    /* border-radius: 50%; */
    /* background: var(--primaryAdaaColor); */
    /* border: 5px solid var(--primaryAdaaColor); */
}
.img_s6_formateur {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
}

.submit_btn_container_s6_formateur {
    position: relative;
    width: 100%;
    height: 4rem;
    padding:  0 0 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 927px) {
    .section06_formateur {
        height: unset;
    }
    .section06_formateur .section06_formateur_title .section06_formateur_title_text_big {
        /* width: 80%; */
    }
    .section06_formateur .section06_formateur_title .section06_formateur_title_text_small {
        /* width: 80%; */
    }
}
@media only screen and (max-width: 870px) {
    .grid-container-section06_formateur{
        grid-template-columns: 1fr;
    }
    .grid-container-section06_formateur:before {
        display: none;
    }
    .grid-container-info_perso-section06_formateur {
        grid-template-columns: 1fr;
    }
}