@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
:root {
    --bg-black-900: #000;
    --bg-black-100: #ddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000;
    --text-black-700: #555;
    --text-black-600: #666;
    --text-black-300: #bbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.outer-shadow {
    box-shadow: var(--outer-shadow);
}

.timeline_ambassador{
    padding-top: 1rem;
    position: relative;
    display: block;
    width: 100%;
    /* height: 120vh; */
    overflow: hidden;
}

.timeline_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 7rem; */
    margin-bottom: 2rem;
}
.timeline_title .timeline_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 2rem;
font-weight: 700;
line-height: 3rem;
text-transform: uppercase;
}
.timeline_title .timeline_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
text-align: center;
font-size: 1.2rem;
line-height: 1.8rem;
font-weight: 400;
}



.timeline_ambassador .experience {
    padding-bottom: 80px;
}
.timeline_ambassador .timeline {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.timeline_ambassador .timeline:before {
    content:  '';
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    background-color: var(--primaryAdaaColor);
    position: absolute;
}
.timeline_ambassador .timeline-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0; 
}
.timeline_ambassador .timeline-item:nth-child(even) {
    padding-right: 50%;
}
.timeline_ambassador .timeline-item:nth-child(even) .timeline-item-inner {
    margin-right: 50px;
    text-align: right;
}
.timeline_ambassador .timeline-item:nth-child(odd) {
    padding-left: 50%;
}
.timeline_ambassador .timeline-item:nth-child(odd) .timeline-item-inner {
    margin-left: 50px;
    
}
.timeline_ambassador .timeline .timeline-item-inner {
    padding: 30px 80px;    
    border-radius: 5px;
    position: relative;
}
.timeline_ambassador .timeline .timeline-item-inner h3,
.timeline_ambassador .timeline .timeline-item-inner a {
    color: var(--primaryAdaaColor);
}
.timeline_ambassador .timeline .timeline-item-inner h3{
    font-size: 1.2rem;
}
.timeline_ambassador .timeline .timeline-item-inner p{
    font-size: 1rem;
}
.timeline_ambassador .timeline-item:nth-child(even) .timeline-item-inner {
    padding-right: 0;
}
.timeline_ambassador .timeline-item:nth-child(odd) .timeline-item-inner {
    padding-left: 0;
}
/* .timeline_ambassador .timeline .timeline-item-inner:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: red;
    top: 37px;
} */
/* .timeline_ambassador .timeline-item:nth-child(even) .timeline-item-inner:before {
    right: -30px;
}
.timeline_ambassador .timeline-item:nth-child(odd) .timeline-item-inner:before {
    left: -30px;
} */

.timeline_ambassador .timeline-item-inner .icon {
    height: 60px;
    width: 60px;
    background-color: #ccc;
    border: 1px solid var(--primaryAdaaColor);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--primaryAdaaColor);
    text-align: center;
    line-height: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 18px; 
}
.timeline_ambassador .timeline-item:nth-child(even) .icon {
    right: -80px;
}
.timeline_ambassador .timeline-item:nth-child(odd) .icon {
    left: -80px;
}

.timeline_ambassador .timeline-item-inner .itemNumber {
    height: 40px;
    width: 40px;
    background-color: var(--primaryAdaaColor);
    border: 2px solid var(--primaryAdaaColor);
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20px; 
}
.timeline_ambassador .timeline-item:nth-child(even) .itemNumber {
    right: 0;
}
.timeline_ambassador .timeline-item:nth-child(odd) .itemNumber {
    left: 0;
}


.timelineBtn_container {
    width: 100%;
    height: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 3rem; */
    padding-top: 2rem;
}


@media only screen and (max-width: 1070px) {
    .timeline_ambassador{
        height: unset;
    }
}

@media only screen and (max-width: 680px) {
    .timeline:before {
        content:  '';
        left: 50px !important;
    }

    .timeline-item:nth-child(even) {
        padding-right: unset !important;
        padding-left: 5% !important;
    }
    .timeline-item:nth-child(even) .timeline-item-inner {
        margin-right: unset !important;
        padding-right: 10px !important;
        /* margin-left: 50px !important; */
        text-align: left !important;
    }
    .timeline-item:nth-child(even) .icon {
        left: -0px;
        right: unset;
    }
    .timeline-item:nth-child(odd) {
        padding-left: 5% !important;
    }
    .timeline-item:nth-child(odd) .timeline-item-inner {
        padding-right: 10px !important;
        margin-left: 80px !important;
        text-align: left !important;
    }
    
    .timeline-item-inner .itemNumber {
        display: none !important;
    }
}


