/* *************************** */
/* *************************** */
/* *************************** */

.section17_invest {    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    line-height: 1.2rem;
    padding: 3rem 1rem 3rem 1rem;
    min-height: 100vh;
}  
.section17_invest .section17_invest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}



.section17_invest .section17_invest_title .section17_invest_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 3rem;
font-weight: 700;
line-height: 3.5rem;
}
.section17_invest .section17_invest_title .section17_invest_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1.5rem;
line-height: 2.5rem;
font-weight: 400;
width: 60rem;
}


.section17_invest_container {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: center;
}

/*  */
.grid-container-section17_invest{
    position: relative;
    display: grid;
    max-width: 65rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}


.grid-container-section17_invest:before {
    content: "";
    position: absolute;
    background: var(--primaryAdaaColor);
    width: 4px;
    height: 96%;
    top: 2%;
    left: 49%;
    
}

.grid-container-section17_invest > div {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    
    z-index: 1;
}



/*  */



@media only screen and (max-width: 927px) {
    .section17_invest {
        height: unset;
    }
    .section17_invest .section17_invest_title .section17_invest_title_text_big {
        width: 80%;
    }
    .section17_invest .section17_invest_title .section17_invest_title_text_small {
        width: 80%;
    }
}
@media only screen and (max-width: 870px) {
    .grid-container-section17_invest{
        height: unset;
        min-height: 40rem;
    }
    .grid-container-section17_invest{
        grid-template-columns: 1fr;
    }
    .grid-container-section17_invest:before {
        display: none;
    }
}