
  
  .Slider_raison {
    width: 60rem;
    /* height: unset !important; */
    height: 400px;
    /* overflow: auto; */
    white-space: normal ;
  }
  
  .ItemComponent {
    display: inline-block;
    width: 50rem;
    height: 200px;
  }

  /* .bg_picture_card-slide_raison_invest {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  } */

  /* ********************************************* */
  /* **************************************************** */

  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.carousel-container-Formateur {
  margin-top: 10rem;
  /* max-width: 1280px; */
  /* width: 100%; */

  margin: 50px auto;
  margin-top: 0;
  min-height: 200px;
  position: relative;
}

.carousel-container-Formateur .carousel-inner {
  overflow: hidden;
  width: 100%;
}
.carousel-container-Formateur .track {
  display: inline-flex;
  transition: transform 0.5s;
}
.carousel-container-Formateur .card-container-slide_raison {
  /* width: 259px; */
  width: 25%;  
  flex-shrink: 0;
  height: unset !important;
  min-height: 300px;
  margin-bottom: 1rem;
  /* padding-right: 15px; */
  box-sizing: border-box;
  /* background: lightgreen; */
}
.fit-content-slider{
  width: fit-content !important;
}
.carousel-container-Formateur .card-container-slide_raison .card-slide_raison {
  /* width: 100%; */
  width: 90%;
  
  height: 100%;
  /* border: 1px solid #ccc; */
  box-shadow: 3px 3px 3px rgb(0 0 0 / 0.3);
  /* border-right: 5px solid var(--primaryAdaaColor); */
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  /* display: block; */
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  /* margin: 1rem; */
  /* margin-left: 0.5rem; */
  /* margin-right: 1rem; */
  padding: 0.5rem;
  padding-bottom: 1rem;
  word-wrap: break-word !important;
  /* background: lightcoral; */
  
}
.carousel-container-Formateur .card-container-slide_raison .card-slide_raison .img{
    /* width: 5rem; */
}
.nav-Formateur button {
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  /* box-shadow: 1px 1px 3px rgb(0 0 0 / 0.3); */
  box-shadow: unset;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: #fff !important;
  color: var(--primaryAdaaColor);
}
.nav-Formateur button i{
  font-size: 5rem;
}

.nav-Formateur .prev {
  left: -44px;
  display: none;
}
.nav-Formateur .prev.show {
  display: flex;
}
.nav-Formateur .next {
  right: -35px;
  justify-content: 10%;
  background: unset !important;
  /* padding-left: 10px; */
}
.nav-Formateur .next i {
    /* margin-left: 14px; */
}
.nav-Formateur .next.hide {
  display: none;
}

/* .card-slide_raison > * {
  flex: 1;
} */
.card-slide_raison .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card-slide_raison .info {
  flex-basis: 40px;
  background: #333;
  color: #fff;
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}

/* **************************************** */
/* .card-slide_raison {
  display: block;
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 1rem;
  padding: 1rem;
  width: 5rem;

} */
.card-slide_raison .box-top-slide_raison {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 0.9rem;
  /* justify-content: center; */
  width: 100%;
  height: 5rem;
  max-height: 5rem;
  box-shadow: unset;
  /* background: blue; */
  }
  .card-slide_raison .box-top-slide_raison div.perso_raison {      
      width: 50px;
      height: 50px;
      object-fit: contain;
      /* border-radius: 50%; */
      background: var(--primaryAdaaColor);
      /* border: 3px solid var(--primaryAdaaColor); */
  }


.card-slide_raison .box-bottom-slide_raison {
  position: relative ;
  display: flex ;
  flex-direction: column ;
  align-items: baseline;
  justify-content: center ;
  text-align: center ;
  line-height: 1.6rem;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  height: fit-content;
  color: white;
  /* background: lightseagreen; */
  /* z-index: 1; */
}

.card-slide_raison .box-bottom-slide_raison .box-bottom-title-slide_raison {
  /* color: var(--primaryAdaaColor); */
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
  margin-bottom: 1rem;
  display: flex ;
  justify-content: center ;
}
.card-slide_raison .box-bottom-slide_raison .box-bottom-content-slide_raison {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  width: 100%;
  display: flex ;
  justify-content: center ;
}
/* ************************************** */

.box-bottom-absolute-slide_raison{
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.5rem;
  justify-content: center;
  align-items: center;
}
/* //////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1050px) {
    .carousel-container-Formateur {
      width: 50rem;
    }
    .carousel-container-Formateur .card-container-slide_raison {
      width: 12.5rem !important;
    }
}
@media screen and (max-width: 920px) {
    .carousel-container-Formateur {
      width: 40rem;
    }
    .carousel-container-Formateur .card-container-slide_raison {
        width: 13.4rem !important;
    }
}
@media screen and (max-width: 770px) {
  .carousel-container-Formateur {
    width: 30rem;
  }
  .carousel-container-Formateur .card-container-slide_raison {
      width: 15rem !important;
  }
}
@media screen and (max-width: 670px) {
  .carousel-container-Formateur {
    width: 15rem;
  }
  .carousel-container-Formateur .card-container-slide_raison {
    width: 15rem !important;      
  }
}
