.grid-container-section14_invest .item {
    /* box-shadow: 5px 5px 10px rgb(0 0 0 / 0.5); */
    display: flex;
    align-items: center;
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230f70b8FF' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
    min-height: 2rem;
    /* margin-bottom: 1.5rem; */
    
    }
    .grid-container-section14_invest .item .box-left-s14_invest {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* height: 60px; */
    width: 40px;
    /* height: 5rem; */
    box-shadow: unset;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    }
    .grid-container-section14_invest .item .box-left-s14_invest .one_img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    
    .grid-container-section14_invest .item .box-right-s14_invest {
    position: relative;
    padding-left: 0.7rem;
    display: flex;
    align-items: center;
    text-align: left;
    /* justify-content: center; */
    line-height: 1.3rem;
    font-size: 1rem;
    /* height: 5rem; */
    /* text-transform: lowercase; */
    }

    .grid-container-left-section14_invest .item,
    .grid-container-right-section14_invest .item {
        height: 3.5rem;
    }
    
    @media only screen and (max-width: 850px) {
        .grid-container-section14_invest .item .box-right-s14_invest {
            font-size: 1rem;
            line-height: 1.3rem;
        }
        .grid-container-left-section14_invest .item,
        .grid-container-right-section14_invest .item {
            height: 4.5rem;           
        }
    }
    @media only screen and (max-width: 760px) {
        .grid-container-left-section14_invest .item,
        .grid-container-right-section14_invest .item{
            height: 5.5rem;
        }
    }
    @media only screen and (max-width: 650px) {
        .grid-container-left-section14_invest .item,
        .grid-container-right-section14_invest .item{
            height: 7rem;
        }
    }
    @media only screen and (max-width: 450px) {
        .grid-container-left-section14_invest .item,
        .grid-container-right-section14_invest .item{
            height: 11rem;
        }
    }