/* *************************** */
/* ************* UTILISER TUNNEL VENTE ************** */
/* *************************** */

.section06_invest {
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    min-height: 100vh;
}
.section06_invest .bg_picture0_s6_invest {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5;
}
.section06_invest .section06_invest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    /* margin-bottom: 2rem; */
}

.section06_invest .section06_invest_title .section06_invest_title_text_big {
position: relative;
display: flex;
width: 55rem;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
/* font-size: 3rem; */
line-height: 3rem !important;
font-weight: 700;
}



/*  */


.container_s6_invest{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 100%;
    padding-left: 5rem;
    padding-right: 3rem;
    /* padding-top: 2rem; */
    margin-bottom: 2rem;
}
.boxLeft_s6_invest {
    /* background: var(--primaryAdaaColor);
    background: #000; */
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    padding: 0 1rem 0 1rem;
    position: relative;
    display: flex;
    height: 100%;
    width: 35rem;
    align-items: center;
}
.boxLeft_text_s6_invest {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5rem;
}

.boxRight_s6_invest {
    position: relative;
    height: 100%;
    width: 40rem;
}
.boxRight_s6_invest img.bg_picture_s6_invest {
    position: relative;    
    width: 100%;
    height: 100%;
    /* height: auto; */
    object-fit: contain;
    border-radius: unset !important;
}

.boxRight_text_s6_invest {
    position: absolute;    
    max-width: 15rem;
    height: 15rem;
    bottom: -1rem;
    right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50%;
    background: var(--primaryAdaaColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    color: gold;
}
.boxRight_text_s6_invest .box-top-s6_invest img{
    width: auto;
    height: 3rem;
}
.box-bottom-title-s6_invest{
    font-size: 1rem;
    color: white;
    line-height: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.box-bottom-title-s6_invest span {
    font-size: 3rem;
    font-weight: 700;
}



/*  */

.containerBottom_s6_invest {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    /* margin-top: 1rem; */
    margin-bottom: 3rem;
}
.containerBottom_icon_s6_invest {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.1rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: var(--primaryAdaaColor);
}

@media only screen and (max-width: 990px) {
    .section06_invest .section06_invest_title {
        margin-bottom: 2rem;
    }
    .section06_invest {
        height: unset;
    }
}

@media only screen and (max-width: 930px) {
    
    .section06_invest .section06_invest_title .section06_invest_title_text_big {
        width: 80%;
        font-size: 2.5rem;
    }
   
    .container_s6_invest {
        min-height: 35rem;
        padding-left: 0rem;
        padding-right: 0rem;
        height: unset !important;
        /* margin-top: 6rem; */
        flex-direction: column;
    }

    .boxLeft_s6_invest {
        margin-bottom: 1rem;
        width: 90%;
    }
    .boxRight_s6_invest {
        width: 95%;
    }
    /* .boxRight_s6_invest img.bg_picture_s6_invest {
        width: 100%;
        height: auto;
    } */
    .containerBottom_s6_invest {
        margin-top: 1.5rem;
        width: 100%;
    }
}
@media only screen and (max-width: 670px) {
    .boxRight_text_s6_invest {
        position: absolute;    
        max-width: 13rem;
        height: 13rem;
        bottom: -1rem;
        right: 0;
    }
    /* .boxRight_text_s6_invest .box-top-s6_invest img{
        width: auto;
        height: 3rem;
    } */
    .box-bottom-title-s6_invest{
        font-size: 1rem;
        color: white;
        line-height: 1.3rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .box-bottom-title-s6_invest span {
        font-size: 2rem;
        font-weight: 700;
    }

    .containerBottom_s6_invest {
        height: unset;
        min-height: 7rem;
    }
}