
.grid-container-section11_invest .item {
    /* box-shadow: 5px 5px 10px rgb(0 0 0 / 0.5); */
    /* border: 7px solid var(--primaryAdaaColor); */
    /* border-radius: 50px; */
    display: block;
    position: relative;

}
.grid-container-section11_invest .item .box-bottom-s11_invest {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 14rem;
    /* width: 3rem; */
    box-shadow: unset;
    margin-top: 1rem;
    margin-bottom: 1rem;
    z-index: 1;
}
.grid-container-section11_invest .item .box-bottom-s11_invest .one_img {
    position: relative;
    height: 100%;
    width: auto;
}

.grid-container-section11_invest .item .box-top-s11_invest {
    position: relative;
    text-align: center;;
    line-height: 1.4rem;
    font-size: 1.1rem;
    z-index: 1;
    min-height: 12rem;
}

.grid-container-section11_invest .item .box-top-s11_invest .box-top-title-s11_invest {
    color: var(--primaryAdaaColor);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.8rem;
}




@media only screen and (max-width: 768px) {
.grid-container-section11_invest .item .box-top-s11_invest {
    /* min-height: 10rem; */
}
}