
  
  .Slider {
    /* width: 100%; */
    height: 300px;
    /* overflow: auto; */
    white-space: nowrap;
  }
  
  .ItemComponent {
    display: inline-block;
    /* width: 50%; */
    height: 100px;
  }

  /* .bg_picture_card_invest {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  } */

  /* ********************************************* */
  /* **************************************************** */

  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.carousel-container-equipe {
  /* max-width: 1280px; */
  width:60rem;
  margin: 20px auto;
  margin-bottom: 0;
  min-height: 200px;
  position: relative;
  /* background: lightgreen; */
}

.carousel-container-equipe .carousel-inner-equipe {
  overflow: hidden;
  width: 100%;
}
.carousel-container-equipe-histoire .track {
  /* display: inline-flex; */
  transition: transform 0.5s;
}
.carousel-container-equipe .card_container_equipe {
  /* width: 259px; */
  width: 33.3333%;
  flex-shrink: 0;
  height: 250px;
  padding-right: 15px;
  box-sizing: border-box;
}
.carousel-container-equipe .card_container_equipe .card_equipe {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.carousel-container-equipe .card_container_equipe .card_equipe .img{
    width: 5rem;
}
.nav button {
  width: 60px;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #aaa;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  background: #fff;
  border: none;
  border-radius: unset;
  color: var(--primaryAdaaColor); 
  /* z-index: -1;  */
}
.nav button i{
    font-size: 7rem;
}
.nav .prev {
  left: -60px;
  display: none;
}
.nav .prev.show {
  display: flex;
}
.nav .next {
  right: -45px;
  justify-content: 10%;
  /* padding-left: 10px; */
}
.nav .next i {
    /* margin-left: 14px; */
}
.nav .next.hide {
  display: none;
}

.card_equipe > * {
  flex: 1;
}
.card_equipe .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card_equipe .info {
  flex-basis: 40px;
  background: #333;
  color: #fff;
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}



@media screen and (max-width: 1050px) {
    .carousel-container-equipe {
      width: 52rem;
    }
}
@media screen and (max-width: 920px) {
    .carousel-container-equipe {
      width: 40rem;
    }
    .carousel-container-equipe .card_container_equipe {
        width: 50% !important;
    }
}
@media screen and (max-width: 745px) {
    .carousel-container-equipe {
      width: 35rem;
    }
}
@media screen and (max-width: 670px) {
    .carousel-container-equipe {
      width: 20rem;
    }
    .carousel-container-equipe .card_container_equipe {
        width: 100% !important;
    }
}
