/* *************************** */
/* *************************** */
/* *************************** */

.section14_invest {    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    line-height: 1.2rem;
    padding: 3rem 1rem 3rem 1rem;
    min-height: 100vh;
}  

.section14_invest .bg_picture0_s14_invest {
    position: absolute;
    right: 100px;
    top: 350px;
    opacity: 0.5;
}

.section14_invest .section14_invest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 2rem; */
    /* margin-bottom: 2rem; */
}



.section14_invest .section14_invest_title .section14_invest_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 3rem;
font-weight: 700;
line-height: 3rem;
}
.section14_invest .section14_invest_title .section14_invest_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1rem;
line-height: 1.5rem;
font-weight: 400;
width: 60rem;
}


.section14_invest_container {
    width: 90%;
    padding-left: 10%;
    padding-right: 10%;
}

/*  */
.grid-container-section14_invest{
    position: relative;
    display: grid;
    min-width: 10rem;
    justify-content: center;
    grid-template-columns: 1fr 11fr;
    /* padding: 10px; */
    /* grid-gap: 0; */
    /* grid-row-gap: 1rem; */
    /* margin-bottom: 7rem; */
    /* width: 90%; */
    /* padding-left: 40px; */
}

.grid-container-left-section14_invest, .grid-container-right-section14_invest {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: auto;
    /* margin-bottom: 7rem; */
    z-index: 1;
}
.grid-container-left-section14_invest{
    width: 60px;
}
.grid-container-left-section14_invest:before {
    content: "";
    position: absolute;
    background: var(--primaryAdaaColor);
    width: 5px;
    height: 96%;
    top: 2%;
    left: 20px;
    z-index: -1;
}

.grid-container-section14_invest > div {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 1;
}

.grid-container-left-section14_invest > div {
    width: 60px;
    /* margin-bottom: 1rem */
}

.grid-container-right-section14_invest > div {
    width: 100%;
}

/*  */



@media only screen and (max-width: 927px) {
    .section14_invest {
        height: unset;
    }
    .section14_invest_container {
        width: 95%;
        padding-left: 0;
        padding-right: 0;
    }
    .section14_invest .section14_invest_title .section14_invest_title_text_big {
        width: 80%;
    }
    .section14_invest .section14_invest_title .section14_invest_title_text_small {
        width: 80%;
    }
}