

.section11_invest {
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    height: 100vh;
} 

/*  */


.grid-container-section11_invest {
    position: relative;
    display: grid;
    width: 90%;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    grid-gap: auto;
    }
    .grid-container-section11_invest > div {
    /* text-align: center; */
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 1rem;
    padding: 1rem;
    
    /* height:fit-content; */
    }
    
    @media only screen and (max-width: 1300px) {
        .grid-container-section11_invest {
            grid-template-columns: 1fr 1fr 1fr;
            height:fit-content;
        }
        .grid-container-section11_invest .item{
            grid-template-columns: 1fr 1fr 1fr;
            /* min-height:10rem; */
        }
    }
    
    @media only screen and (max-width: 1050px) {
        .section11_invest {
            height: unset;
        }
        .grid-container-section11_invest {
            grid-template-columns: 1fr 1fr;
            height:fit-content;
            width: 40rem;
        }
        .grid-container-section11_invest .item{
            grid-template-columns: 1fr 1fr;
            /* min-height:10rem; */
        }
    }
    
    @media only screen and (max-width: 670px) {
        .grid-container-section11_invest {
            grid-template-columns: 1fr;
            width: 20rem;
        }
        .grid-container-section11_invest .item{
            grid-template-columns: 1fr;
            /* min-height:5rem; */
        }
        .section11_invest .section11_invest_title {
            font-size: 2rem;
            line-height: 2.5rem;
        }
        .section11_invest .section11_invest_subtitle {
            font-size: 1.15rem;
            line-height: 1.5rem;
        }
    }