
  
  .Slider_histoire {
    width: 60rem;
    /* height: unset !important; */
    height: 400px;
    /* overflow: auto; */
    white-space: normal ;
    /* background: orangered */
  }
  
  .ItemComponent {
    display: inline-block;
    width: 50rem;
    height: 200px;
  }

  /* .bg_picture_card-slide_histoire_invest {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  } */

  /* ********************************************* */
  /* **************************************************** */

  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.carousel-container-histoire {
  /* max-width: 1280px; */
  /* width: 100%; */
  margin: 10px auto;
  margin-top: 0;
  min-height: 200px;
  position: relative;
  /* background: lightcoral */
}

.carousel-container-histoire .carousel-inner {
  overflow: hidden;
  width: 100%;
}
.carousel-container-histoire .track {
  display: inline-flex;
  transition: transform 0.5s;
}
.carousel-container-histoire .card-container-slide_histoire {
  /* width: 259px; */
  width: 50%;
  flex-shrink: 0;
  height: unset !important;
  min-height: 250px;
  /* padding-right: 15px; */
  box-sizing: border-box;
  /* background: lightgreen */
}
.carousel-container-histoire .card-container-slide_histoire .card-slide_histoire {
  width: 100%;
  height: 100%;
  /* border: 1px solid #ccc; */
  border-right: 5px solid var(--primaryAdaaColor);
  box-sizing: border-box;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;

  /* display: block; */
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 1rem;
  padding: 1rem;
  word-wrap: break-word !important;
  /* width: 5rem; */
}
.carousel-container-histoire .card-container-slide_histoire .card-slide_histoire .img{
    /* width: 5rem; */
}
.nav-histoire button {
  width: 60px;
  height: 122%;
  border-radius: 50%;
  /* border: 1px solid #aaa; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: #fff;
  border: none;
  border-radius: unset;
  color: var(--primaryAdaaColor); 
  /* z-index: -1;  */
}
.nav-histoire button:before {
  content: '';
  width: 100%;
  height: 5rem;
  position: absolute;
  left: 0;
  bottom: -50px;
  background: white;
  z-index: 2;
}
.nav-histoire button i{
    font-size: 7rem;
}
.nav-histoire .prev {
  left: -44px;
  display: none;
}
.nav-histoire .prev.show {
  display: flex;
}
.nav-histoire .next {
  right: -45px;
  justify-content: 10%;
  /* padding-left: 10px; */
}
.nav-histoire .next i {
    /* margin-left: 14px; */
}
.nav-histoire .next.hide {
  display: none;
}

/* .card-slide_histoire > * {
  flex: 1;
} */
.card-slide_histoire .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card-slide_histoire .info {
  flex-basis: 40px;
  background: #333;
  color: #fff;
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}

/* **************************************** */
/* .card-slide_histoire {
  display: block;
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 1rem;
  padding: 1rem;
  width: 5rem;

} */
.card-slide_histoire .box-bottom-slide_histoire {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 8rem;
  /* width: 3rem; */
  box-shadow: unset;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-slide_histoire .box-bottom-slide_histoire .bg_picture_card_invest {
  position: relative;
  height: auto;
  width: 100%;
}

.card-slide_histoire .box-top-slide_histoire {
  position: relative ;
  display: flex ;
  flex-direction: column ;
  /* align-items: center ;
  justify-content: center ; */
  text-align: center ;
  line-height: 1.6rem;
  font-size: 1.2rem;
  min-height: 8rem;
  padding: 0.5rem;
  /* background: lightcoral; */
  /* z-index: 1; */
}

.card-slide_histoire .box-top-slide_histoire .box-top-title-slide_histoire {
  color: var(--primaryAdaaColor);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
  /* background: lightgreen; */
}
.box-top-content-slide_histoire {
}
/* ************************************** */

@media screen and (max-width: 1050px) {
    .carousel-container-histoire {
      width: 50rem;
    }
    .nav-histoire .prev {
      left: -30px;
    }
}
@media screen and (max-width: 860px) {
    .carousel-container-histoire {
      width: 24.4rem;
    }
    .carousel-container-histoire .card-container-slide_histoire {
        width: 24.4rem !important;
    }
    
}
@media screen and (max-width: 450px) {
  .carousel-container-histoire {
    width: 20rem;
  }
  .carousel-container-histoire .card-container-slide_histoire {
      width: 20rem !important;
  }
}
/* @media screen and (max-width: 745px) {
  .carousel-container-histoire {
    width: 20rem;
  }
  .carousel-container-histoire .card-container-slide_histoire {
      width: 100% !important;
  }
} */
