.oneTernaryBtn {
    background: gold;
    border-radius: 5px;
    width: 13rem;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--primaryAdaaColor);
    color: #051b42;
    text-decoration: unset;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
input[type=submit].oneTernaryBtn {
    border: none;
    
}