/* *************************** */
/* *************************** */
/* *************************** */

.section16_invest {    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    line-height: 1.2rem;
    padding: 3rem 1rem 3rem 1rem;
}

.section16_invest .bg_picture0_s16_invest {
    position: absolute;
    right: 0;
    top: 300px;
    opacity: 0.5;
}


.section16_invest .section16_invest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.section16_invest .section16_invest_title .section16_invest_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 3rem;
font-weight: 700;
line-height: 3rem;
}
.section16_invest .section16_invest_title .section16_invest_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1rem;
line-height: 1.5rem;
font-weight: 500;
width: 60rem;
}


.section16_invest_container {
    width: 90%;
    padding-left: 10%;
    padding-right: 10%;
}

/*  */
.grid-container-section16_invest{
    position: relative;
    display: grid;
    min-width: 10rem;
    justify-content: center;
    grid-template-columns: 1fr  1fr 10fr;
    padding: 10px;
    /* grid-gap: 0; */
    /* grid-row-gap: 1rem; */
    /* margin-bottom: 7rem; */
    /* width: 90%; */
    /* padding-left: 40px; */
}

.grid-container-stepLine-section16_invest, .grid-container-left-section16_invest, .grid-container-right-section16_invest {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: auto;
    /* margin-bottom: 7rem; */
    z-index: 1;
}
.grid-container-left-section16_invest{
    width: 60px;
}
.grid-container-stepLine-section16_invest:before {
    content: "";
    position: absolute;
    background: var(--primaryAdaaColor);
    background: white;
    width: 30px;
    height: 97.1%;
    top: 0.98%;
    left: 30px;
    border-left: 5px solid var(--primaryAdaaColor);
    z-index: 1;
}

.grid-container-section16_invest > div {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 1;
}

.grid-container-left-section16_invest > div {
    width: 60px;
    /* margin-bottom: 1rem */
}

.grid-container-right-section16_invest > div {
    width: 100%;
}

/*  */



@media only screen and (max-width: 927px) {
    .section16_invest .section16_invest_title .section16_invest_title_text_big {
        width: 80%;
    }
    .section16_invest .section16_invest_title .section16_invest_title_text_small {
        width: 80%;
    }
}