/* *************************** */
/* *************************** */
/* *************************** */

.section19_invest {    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    line-height: 1.2rem;
    /* width: 90%; */
    /* padding: 3rem 1rem 3rem 1rem; */
}
.section19_invest .bg_picture0_s19_invest {
    position: absolute;
    right: 70px;
    bottom: 0;
    width: 15rem;
    height: 9rem;
    /* opacity: 0.5; */
}
.section19_invest-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
}

.container_s19_invest img.bg_picture_s19_invest {
    position: absolute;    
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.container_text_s19_invest {
    position: absolute;    
    width: 17rem;
    height: 17rem;
    /* bottom: 7%;
    right: 5%; */
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50%;
    background: var(--primaryAdaaColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container_text_s19_invest .box-bottom-title-s19_invest{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: white;    
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.container_text_s19_invest .one_imgs19_invest {
    width: 5rem;
    height: 5rem;
}

@media only screen and (max-width: 927px) {
}
@media only screen and (max-width: 870px) {
}