@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
:root {
    --bg-black-900: #000;
    --bg-black-100: #ddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000;
    --text-black-700: #555;
    --text-black-600: #666;
    --text-black-300: #bbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.outer-shadow {
    box-shadow: var(--outer-shadow);
}

.timeline_formateur{
    padding-top: 4rem;
    position: relative;
    display: block;
    width: 100%;
    min-height: 110vh;
    overflow: hidden;
}


.timeline_formateur .experience {
    padding-bottom: 80px;
}
.timeline_formateur .timeline {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.timeline_formateur .timeline:before {
    content:  '';
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    background-color: var(--primaryAdaaColor);
    position: absolute;
    z-index: -1;
}
.timeline_formateur .timeline-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0; 
}
.timeline_formateur .timeline-item:nth-child(even) {
    padding-right: 50%;
}
.timeline_formateur .timeline-item:nth-child(even) .timeline-item-inner {
    margin-right: 50px;
    text-align: right;
}
.timeline_formateur .timeline-item:nth-child(odd) {
    padding-left: 50%;
}
.timeline_formateur .timeline-item:nth-child(odd) .timeline-item-inner {
    margin-left: 50px;
    
}
.timeline_formateur .timeline .timeline-item-inner {
    padding: 30px 80px;    
    border-radius: 5px;
    position: relative;
}
.timeline_formateur .timeline .timeline-item-inner h3,
.timeline_formateur .timeline .timeline-item-inner a {
    color: var(--primaryAdaaColor);
}
.timeline_formateur .timeline .timeline-item-inner h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.timeline_formateur .timeline .timeline-item-inner p{
    font-size: 1rem;
}
.timeline_formateur .timeline-item:nth-child(even) .timeline-item-inner {
    padding-right: 0;
}
.timeline_formateur .timeline-item:nth-child(odd) .timeline-item-inner {
    padding-left: 0;
}
/* .timeline_formateur .timeline .timeline-item-inner:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: red;
    top: 37px;
} */
/* .timeline_formateur .timeline-item:nth-child(even) .timeline-item-inner:before {
    right: -30px;
}
.timeline_formateur .timeline-item:nth-child(odd) .timeline-item-inner:before {
    left: -30px;
} */

.timeline_formateur .timeline-item-inner .icon {
    height: 60px;
    width: 60px;
    background-color: #ccc;
    border: 1px solid var(--primaryAdaaColor);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--primaryAdaaColor);
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 18px;
    /* z-index: 2;  */
}
.timeline_formateur .timeline-item-inner .icon::before {
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
border-radius: 50%;
background: #ddd;
z-index: -1;
}
.timeline_formateur .timeline-item:nth-child(even) .icon {
    right: -80px;
}
.timeline_formateur .timeline-item:nth-child(odd) .icon {
    left: -80px;
}

.timeline_formateur .timeline-item-inner .itemNumber {
    height: 40px;
    width: 40px;
    background-color: var(--primaryAdaaColor);
    border: 2px solid var(--primaryAdaaColor);
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20px; 
}
.timeline_formateur .timeline-item:nth-child(even) .itemNumber {
    right: 0;
}
.timeline_formateur .timeline-item:nth-child(odd) .itemNumber {
    left: 0;
}

.timelineBtn_container {
    width: 100%;
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
    
}