/* *************************** */
/* *************************** */
/* *************************** */

.section13_invest {    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    line-height: 1.2rem;
    padding: 3rem 3rem 3rem 3rem;
    min-height: 100vh;
}  
.section13_invest .section13_invest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 2rem; */
    /* margin-bottom: 2rem; */
}

.section13_invest .section13_invest_title .section13_invest_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 3rem;
font-weight: 700;
line-height: 3.5rem;
}
.section13_invest .section13_invest_title .section13_invest_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1rem;
line-height: 1.5rem;
font-weight: 400;
width: 60rem;
}
/*  */

.container_s13_investBtn_container {
    position: relative;
    display: flex;    
    justify-content: center;
    align-items: center;
    display: flex;
    /* background: lightcoral; */
    width: 100%;
}


@media only screen and (max-width: 927px) {
    .section13_invest {
        height: unset;
    }
    .section13_invest .section13_invest_title .section13_invest_title_text_big {
        width: 80%;
    }
    .section13_invest .section13_invest_title .section13_invest_title_text_small {
        width: 80%;
    }
}