
.grid-container-section05_invest .oneItem {
    /* box-shadow: 5px 5px 10px rgb(0 0 0 / 0.5); */
    /* border: 7px solid var(--primaryAdaaColor); */
    background: #fff;
    display: block;
    position: relative;
    /* display: flex;
    flex-direction: column; */
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230f70b8FF' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
    /* min-height: 20rem; */
    
    }
    .grid-container-section05_invest .oneItem::before {
        position: absolute;
        content: '';
        left: -1.2rem;
        bottom: -1.2rem;
        width: 70%;
        height: 70%;
        background: var(--primaryAdaaColor);
        background: #999;
        z-index: -1;

    }
    .grid-container-section05_invest .oddItem::before {
        background: var(--primaryAdaaColor);
    }
    /* .grid-container-section05_invest .oneItem .box-bg-s5_invest::before {
        position: absolute;
        content: '';
        bottom: -60%;
        right: -25%;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 0;

    } */
    .grid-container-section05_invest .oneItem .box-top-s5_invest {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    /* width: 3rem; */
    box-shadow: unset;
    margin-top: 1rem;
    margin-bottom: 1rem;
    z-index: 1;
    }
    .grid-container-section05_invest .oneItem .box-top-s5_invest .one_img {
        position: relative;
        height: 3rem;
        width: auto;
    }
    
    .grid-container-section05_invest .oneItem .box-bottom-s5_invest {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    line-height: 1.3rem;
    font-size: 0.9rem;
    padding-top: 0.5rem;
    /* text-transform: lowercase; */
    z-index: 1;
    /* background: lightcoral */
    }

    .grid-container-section05_invest .oneItem .box-bottom-s5_invest .box-bottom-title-s5_invest {
        color: var(--primaryAdaaColor);
        font-size: 1rem;
        line-height: 1.3rem;
        font-weight: 700;
        padding-bottom: 0.5rem;
    }

    .grid-container-section05_invest .oneItem .box-bottom-s5_invest a{
        text-decoration: none;
        color: var(--primaryAdaaColor);
    }
    
    /* .grid-container-section05_invest .oneItem .box-right-s5_invest {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    } */
    
    
    
    @media only screen and (max-width: 768px) {
    .grid-container-section05_invest .oneItem .box-bottom-s5_invest {
        /* min-height: 10rem; */
    }
    }