

.section04_invest{
    padding-top: 5rem;
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-left: 2rem;
    padding-bottom: 4rem;
}

.container_s4_invest{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.container_s4_invest img.bg_picture_s4_invest {
    position: absolute;    
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover; 
}

.container_s4_invest .container_text_s4_invest {
    position: absolute;    
    width: 20rem;
    height: 20rem;
    bottom: 20%;
    right: -11rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 50%;
    /* background: rgba(0, 0, 139, 0.7); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container_text_s4_invest .box-top-s4_invest img{
    width: auto;
    height: 3rem;
}
.box-bottom-title-s4_invest{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



@media only screen and (max-width: 820px) {
    .container_s4_invest .container_text_s4_invest {
        width: 17rem;
        height: 17rem;
        right: -5rem;
    }
    .box-bottom-title-s4_invest{
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2rem;
        color: white;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .container_text_s4_invest .box-top-s4_invest img{
        width: auto;
        height: 1.5rem;
    }
}





