/* *************************** */
/* ************* UTILISER TUNNEL VENTE ************** */
/* *************************** */

.section03_invest {
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
}  
.section03_invest .section03_invest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.section03_invest_title_underline{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 2px;
    background: #000;
    margin-top: 1rem;
}
.section03_invest_title_underline::before {
    content: "";
    top: -100%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: #000;
    border: 15px solid #fff;
    border-radius: 50%;
}
.section03_invest .section03_invest_title .section03_invest_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 3rem;
font-weight: 700;
line-height: 3.5rem;
}
.section03_invest .section03_invest_title .section03_invest_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1.5rem;
line-height: 2rem;
font-weight: 700;
}
/*  */

.sliderContainer {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.7rem;
}