.homeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 5rem;
    left: 5rem;
    width: 15rem;
    height: 15rem;
}
.homeContainer .customBtn {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 50px;
    transition: 0.5s;
    color: rgb(37, 51, 107);
    border: 2px solid rgb(37, 51, 107);
    text-decoration: none;
    font-weight: 700;
  }
  .homeContainer .customBtn:hover {
    background: rgb(37, 51, 107);
    color: #fff;
  }