
.section04_business {
    position: relative;
    display: flex;
    /* top: 5rem; */
    width: 100%;
    height: 100vh;
    /* min-height: 60rem; */
    /* overflow: hidden; */
}
.section04_business img.bg_picture_s4_business {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: unset !important;
}
.section04_business .teaser_s4_business {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
    padding: 1rem;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}


.section04_business .teaser_s4_business .teaser_s4_business_title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    /* margin-left: 1rem; */
}
.section04_business .teaser_s4_business .teaser_s4_business_content {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.section04_business .teaser_s4_business .teaser_s4_business_content p{
    margin: 0.5rem;
}
.section04_business .teaser_s4_business .teaser_s4_business_content ul{
    margin: 0.5rem;
    margin-left: 2rem;
    list-style: disc;
}
.section04_business .teaser_s4_business .teaser_s4_business_content ul li{
    margin-bottom: 0.5rem;
    
}
.teaser_s4_businessBtn_container {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}





.grid-container-section04-business {
    position: relative;
    display: grid;
    width: auto;
    justify-content: center;
    grid-template-columns: 1fr;
    /* padding: 10px; */
    grid-gap: 0;
    /* margin-bottom: 7rem; */
}
.grid-container-section04-business > div {
    /* text-align: center; */
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2rem;
    height: fit-content;
    /* margin: 1rem; */
    /* padding: 1rem; */
    /* height:fit-content; */
}
.grid-container-section04-business .item_s4_business {
    display: flex;
    width: 95%;
}
.grid-container-section04-business .box-left-s4-business {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* height: 100%; */
    width: 3rem;
    box-shadow: unset;
    margin-right: 1rem;
}
.grid-container-section04-business .box-left-s4-business img {
    height: 3rem;
    width: auto;
}
.grid-container-section04-business .box-right-s4-business {
    position: relative;
    padding-left: 1rem;
    padding-top: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    line-height: 1.2rem;
    font-size: 0.7rem;
    font-weight: 400;
}
.grid-container-section04-business .box-right-title-s4-business {
    font-weight: 700;
    color: gold;
    font-size: 0.9rem;
}

@media only screen and (max-width: 1150px) {
    .section04_business .teaser_s4_business {
        width: 60%;        /* background: rgba(37, 51, 107, 0.7); */
    }
}

@media only screen and (max-width: 950px) {
    .section04_business{
        height: unset;
        min-height: 100vh;
    }
    .section04_business .teaser_s4_business {
        width: 100%;
        min-height: 100vh;
    }
}

