/* *************************** */
/* ************* UTILISER TUNNEL VENTE ************** */
/* *************************** */

.section07_invest {
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    height: 100vh;
}  
.section07_invest .section07_invest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    /* margin-bottom: 2rem; */
}
.section07_invest_title_underline{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 2px;
    background: #000;
    margin-top: 1rem;
}
.section07_invest_title_underline::before {
    content: "";
    top: -100%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: #000;
    border: 15px solid #fff;
    border-radius: 50%;
}
.section07_invest .section07_invest_title .section07_invest_title_text_big {
position: relative;
display: flex;
width: 55rem;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 3rem;
font-weight: 700;
line-height: 3.2rem;
}

/*  */


@media only screen and (max-width: 1060px) {
    .section07_invest {
        height: unset;
    } 
    .section07_invest {
        justify-content: unset !important;
        height: 80rem !important;
    } 
    .container_s7_invest {
        /* margin-top: 6rem; */
        height: unset !important;
        min-height: 45rem;
        padding-left: 0rem;
        padding-right: 0rem;
        flex-direction: column;
        margin-bottom: 5rem;
    }
    .boxLeft_s7_invest {
        margin-bottom: 1rem;
        width: 90%;
    }
}
@media only screen and (max-width: 930px) {
    .boxRight_s7_invest {
        width: 30rem;
    }
    .section07_invest .section07_invest_title .section07_invest_title_text_big {
        width: 80%;
    }    
    .boxRight_s7_invest {
        width: 95%;
    }
    .boxRight_s7_invest img.bg_picture_s7_invest {
        width: 100%;
        height: auto;
    }
    .containerBottom_s7_invest {
        margin-top: 7rem;
        width: 100%;
    }
}
@media only screen and (max-width: 400px) {
    .section07_invest {
        justify-content: unset !important;
        height: 90rem !important;
    } 
}