.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .Slider {
    /* width: 100%; */
    /* height: 300px; */
    /* overflow: auto; */
    white-space: nowrap;
  }
  
  .ItemComponent {
    display: inline-block;
    width: 50%;
    height: 100px;
  }

  /* .bg_picture_card_invest {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  } */

  /* ********************************************* */
  /* **************************************************** */

  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.carousel-container_partners {
  width: 50rem;
  height: 10rem !important;
  /* max-width: 1280px; */
  /* width: 100%; */
  margin: 20px auto;
  min-height: 60px;
  position: relative;
  /* background: lightcoral */
}

.carousel-container_partners .carousel-inner {
  overflow: hidden;
  width: 100%;
}
.carousel-container_partners-histoire .track {
  /* display: inline-flex; */
  transition: transform 0.5s;
}
.carousel-container_partners .card_container_partners {
  /* width: 259px; */
  width: 25%;
  flex-shrink: 0;
  height: 100px;
  /* padding-right: 15px; */
  box-sizing: border-box;
  /* background: lightgreen */
}
.carousel-container_partners .card_container_partners .card_partners {
  width: 100%;
  height: 100%;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.carousel-container_partners .card_container_partners .card_partners .img{
    width: 5rem;
}
.carousel-container_partners .nav button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 1px solid #ccc; */
  box-shadow: 1px 1px 3px rgb(0 0 0 / 0.3);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  /* background: #fff; */
  /* border: none; */
  /* border-radius: unset; */
  color: var(--primaryAdaaColor); 
  /* z-index: -1;  */
}
.carousel-container_partners .nav button i{
    font-size: 3rem;
}
.carousel-container_partners .nav .prev {
  left: -60px;
  display: none;
}
.carousel-container_partners .nav .prev.show {
  display: flex;
}
.carousel-container_partners .nav .next {
  right: -60px;
  justify-content: 10%;
  /* padding-left: 10px; */
}
.carousel-container_partners .nav .next i {
    /* margin-left: 14px; */
}
.carousel-container_partners .nav .next.hide {
  display: none;
}

.card_partners > * {
  flex: 1;
}
.card_partners .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card_partners .info {
  flex-basis: 40px;
  background: #333;
  color: #fff;
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}



@media screen and (max-width: 1020px) {
    .carousel-container_partners {
      width: 40rem;
    }
}
@media screen and (max-width: 920px) {
    .carousel-container_partners {
      width: 20rem;
    }
    .carousel-container_partners .card_container_partners {
        width: 50% !important;
    }
}
@media screen and (max-width: 745px) {
    .carousel-container_partners {
      width: 20rem;
    }
}
@media screen and (max-width: 670px) {
    .carousel-container_partners {
      width: 20rem;
    }
    .carousel-container_partners .card_container_partners {
        width: 100% !important;
    }
}
