
.section01{
    padding-top: 4rem;
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.section01 img.bg_picture_s1 {
    position: absolute;    
    width: 100%;
    height: 100%;
    /* height: auto; */
    object-fit: cover;
    border-radius: unset !important;
}
.section01 .teaser {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 500;
    /* line-height: 2.1rem; */
    /* letter-spacing: 0.1rem; */
    bottom: 10%;
    right: 10%;
    width: 28rem;
    height: 15rem;
    color: white;
}
.section01 .teaser::before {
    content: '';
    position: absolute;
    top: -120px;
    left: -40px;
    width: 7px;
    height: 250px;
    opacity: 0.8;
    transform: rotateZ(30deg);
    background: var(--primaryAdaaColor);
}
.section01 .teaser::after {
    content: '';
    position: absolute;
    bottom: -70px;
    right: -10px;
    width: 7px;
    height: 250px;
    opacity: 0.8;
    transform: rotateZ(30deg);
    background: var(--primaryAdaaColor);
}
/* 0f70b8 */

.section01 .teaser .teaserBtn {
    background: var(--primaryAdaaColor);
    border-radius: 10px;
    width: 15rem;
    height: 4rem;
    line-height: 1.2rem;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}


.s1_school_Btn_container {
    width: 100%;
    min-height: 4rem;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}


@media only screen and (max-width: 768px) {
    .section01{
        padding-top: 8rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section01 .teaser_container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 20rem;
        padding-left: 10rem;
    }
    .section01 .teaser {
        position: relative;
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 500;
        bottom: 17%;
        /* bottom: 17%; */
        /* right: 10%; */
        /* margin-top: 5rem; */
        margin-right: 0 !important;
        width: 20rem;
        height: 15rem;
        color: white;
    }
}

@media only screen and (max-width: 420px) {
    .section01 .teaser_container {
        padding-left: 5rem;
    }
    .section01 .teaser {
        position: relative;
        font-size: 1.2rem;
        bottom: 17%;
    }
}
/* @media only screen and (max-width: 500px) {

} */
