.adaaFormulaire {
    /* top: 4rem; */
    line-height: 1.2rem;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.adaaFormulaire img.bg_picture_s2 {
    position: absolute;    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: unset !important;
}
.adaaFormulaire .bg_color_layer_s2 {
    position: absolute;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.7);
    /* border-top: 100px solid transparent; */
    /* border-right: 100vw solid var(--primaryAdaaColor); */
    opacity: 100%;
}
.adaaFormulaire .adaaFormulaire_title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: white;
}
.adaaFormulaire .adaaFormulaire_title .adaaFormulaire_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* text-transform: uppercase; */
font-size: 2rem;
font-weight: 500;
line-height: 3=2.5rem;
}
.adaaFormulaire .adaaFormulaire_title .adaaFormulaire_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1rem;
line-height: 1.5rem;
font-weight: 400;
}
.grid-container-adaaFormulaire {
position: relative;
display: grid;
width: auto;
justify-content: center;
grid-template-columns: 1fr 1fr;
/* padding: 10px; */
grid-gap: auto;
height: fit-content;
margin-bottom: 1rem !important;

}
.grid-container-adaaFormulaire > div {
margin: 1.2rem;
text-align: left;
font-size: 0.8rem;
height: 2rem;
}

.submit_btn_container {
    position: relative;
    width: 100%;
    margin-top: 2rem;
    height: 6rem;
    /* background: #000; */
    /* padding:  0 0 2rem 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .adaaFormulaire {
        height: unset;
    }
    .grid-container-adaaFormulaire > div {
        margin: 1.2rem;
    }
    .grid-container-adaaFormulaire {
        grid-template-columns: 1fr;
        height:fit-content;
    }
    .grid-container-adaaFormulaire .item{
        grid-template-columns: 1fr;
    }
}

/* @media only screen and (max-width: 560px) {
    .grid-container-adaaFormulaire {
        grid-template-columns: 1fr;
    }
    .grid-container-adaaFormulaire .item{
        grid-template-columns: 1fr;
        min-height:5rem;
    }
    .adaaFormulaire .adaaFormulaire_title {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .adaaFormulaire .adaaFormulaire_subtitle {
        font-size: 1.15rem;
        line-height: 1.5rem;
    }
} */








