
.section03_formateur {
    position: relative;
    display: flex;
    /* top: 5rem; */
    width: 100%;
    height: 100vh;
    /* min-height: 60rem; */
    /* overflow: hidden; */
}
.section03_formateur img.bg_picture_s3_formateur {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: unset !important;
}
.section03_formateur .teaser_s3_formateur {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
    padding: 1rem;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}


.section03_formateur .teaser_s3_formateur .teaser_s3_formateur_title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-left: 1rem; */
}
.section03_formateur .teaser_s3_formateur .teaser_s3_formateur_content {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}


.teaser_s3_formateurBtn_container {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}





.grid-container-section03-formateur {
    position: relative;
    display: grid;
    width: auto;
    justify-content: center;
    grid-template-columns: 1fr;
    width: 97%;
    /* padding: 10px; */
    grid-gap: auto;
    /* margin-bottom: 7rem; */
}
.grid-container-section03-formateur > div {
    /* text-align: center; */
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    margin: 0 1rem 1rem 0rem;
    width: 100%;
    
    /* padding: 1rem; */
    /* height:fit-content; */
}
.grid-container-section03-formateur .item_s3_formateur {
    display: flex;
}
.grid-container-section03-formateur .box-left-s3_formateur {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 100%;
    width: 3rem;
    box-shadow: unset;
    margin-right: 1rem;
}
.grid-container-section03-formateur .box-left-s3_formateur img {
    height: 3rem;
    width: auto;
}
.grid-container-section03-formateur .box-right-s3_formateur {
    position: relative;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    line-height: 1.2rem;
    font-size: 0.9rem;
}
.grid-container-section03-formateur .box-right-title-s3_formateur {
    font-weight: 700;
    color: var(--anotherBlueColor);
    font-size: 1.2rem;
}

.s3_formateur_btn_container {
    width: 100%;
    height: auto;
    padding:  0 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1250px) {
    .section03_formateur {
        height: unset;
    }
}
@media only screen and (max-width: 900px) {
    .section03_formateur .teaser_s3_formateur {
        width: 100%;        /* background: rgba(37, 51, 107, 0.7); */
    }
}

