

.section09_invest{
    padding-top: 4rem;
    position: relative;
    display: block;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    height: 100vh;
}

.container_s9_invest{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    /* background: blue; */
}

.boxLeft_s9_invest {
    /* background: var(--primaryAdaaColor); */
    /* background: #000; */
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
    position: relative;
    display: flex;
    height: 110%;
    width: 50%;
    align-items: center;
    text-align: center;
    /* background: lightcoral; */
}


.boxRight_s9_invest {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    /* background: lightgreen; */
}

.section09_invest .section09_invest_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
    width: 80%;
}
.section09_invest .section09_invest_title .section09_invest_title_text_big {
    position: relative;
    color: var(--primaryAdaaColor);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
}
.section09_invest .section09_invest_title .section09_invest_title_text_small {
    position: relative;
    display: inline-block;
    justify-content: left;
    align-items: center;
    text-transform: unset;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--primaryAdaaColor);
}


.boxRight_s9_invest img.bg_picture_s9_invest {
    position: absolute;    
    width: 100%;
    height: auto;
    /* height: auto; */
    /* object-fit: contain; */
    border-radius: unset !important;
}

.boxRight_text_s9_invest {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8rem;
    width: 80%;
}

.boxRight_s9_investBtn_container {
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center;
    /* bottom: 0; */
    /* padding: 3rem; */
    display: flex;
    /* padding-left: 2rem; */
}



@media only screen and (max-width: 1060px) {
    .section09_invest{
        height: unset;
    }
    .section09_invest{
        height: 60rem;
        width: 100%;
        min-height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container_s9_invest{
        top: 0;
        flex-direction: column;
        width: 95%;
    }
    .boxRight_s9_invest {
        max-width: unset;
        width: 100%;
        background-size: cover !important;
        height: 100%;
    }
    .boxLeft_s9_invest {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: unset;        
        padding-bottom: unset;
    }
}

@media only screen and (max-width: 820px) {
    .boxLeft_s9_invest {
        width: 100%;
        height: 100%;
    }
    .boxLeft_s9_invest video {
        width: 100%;
    }
}




