
  
  .Slider_loveInvestors {
    /* width: 60rem; */
    /* height: unset !important; */
    /* height: 400px; */
    /* overflow: auto; */
    white-space: normal ;
  }
  
  .ItemComponent {
    display: inline-block;
    width: 50rem;
    height: 200px;
  }

  /* .bg_picture_card-slide_loveInvestors_invest {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  } */

  
  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.carousel-container-slide_loveInvestors {
  /* max-width: 1280px; */
  width: 60rem;
  margin: 50px auto;
  margin-top: 0;
  min-height: 200px;
  position: relative;
}

.carousel-container-slide_loveInvestors .carousel-inner {
  overflow: hidden;
  width: 100%;
}
.carousel-container-slide_loveInvestors .track {
  display: inline-flex;
  transition: transform 0.5s;
}
.carousel-container-slide_loveInvestors .card-container-slide_loveInvestors {
  /* width: 259px; */
  width: 60rem;
  flex-shrink: 0;
  height: unset !important;
  min-height: 250px;
  /* padding-right: 15px; */
  box-sizing: border-box;
}
.carousel-container-slide_loveInvestors .card-container-slide_loveInvestors .card-slide_loveInvestors {
  width: 100%;
  height: 100%;
  /* border: 1px solid #ccc; */
  /* border-right: 5px solid var(--primaryAdaaColor); */
  box-sizing: border-box;
  /* border-radius: 10px; */
  display: flex;
  /* flex-direction: column; */

  /* display: block; */
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  word-wrap: break-word !important;
  /* width: 5rem; */
}
.carousel-container-slide_loveInvestors .card-container-slide_loveInvestors .card-slide_loveInvestors .img{
    /* width: 5rem; */
}
.nav-slide_loveInvestors button {
  width: 60px;
  height: 100%;
  border-radius: 50%;
  /* border: 1px solid #aaa; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: unset;
  color: var(--primaryAdaaColor); 
  /* z-index: -1;  */
}
.nav-slide_loveInvestors button:before {
  content: '';
  width: 100%;
  height: 5rem;
  position: absolute;
  left: 0;
  bottom: -50px;
  background: white;
  z-index: 2;
}
.nav-slide_loveInvestors button i{
    font-size: 7rem;
}
.nav-slide_loveInvestors .prev {
  left: -44px;
  display: none;
}
.nav-slide_loveInvestors .prev.show {
  display: flex;
}
.nav-slide_loveInvestors .next {
  right: -45px;
  justify-content: 10%;
  /* padding-left: 10px; */
}
.nav-slide_loveInvestors .next i {
    /* margin-left: 14px; */
}
.nav-slide_loveInvestors .next.hide {
  display: none;
}

/* .card-slide_loveInvestors > * {
  flex: 1;
} */
.card-slide_loveInvestors .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card-slide_loveInvestors .info {
  flex-basis: 40px;
  background: #333;
  color: #fff;
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}

/* **************************************** */
/* .card-slide_loveInvestors {
  display: block;
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 1rem;
  padding: 1rem;
  width: 5rem;

} */
.card-slide_loveInvestors .box-bottom-slide_loveInvestors {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 8rem;
  /* width: 3rem; */
  box-shadow: unset;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-slide_loveInvestors .box-bottom-slide_loveInvestors .bg_picture_card_invest {
  position: relative;
  height: auto;
  width: 100%;
}

.card-slide_loveInvestors .box-top-slide_loveInvestors {
  position: relative ;
  display: flex ;
  flex-direction: column ;
  /* align-items: center ;
  justify-content: center ; */
  text-align: center ;
  line-height: 1.3rem;
  font-size: 1rem;
  min-height: 8rem;
  padding: 0.5rem;
  background: lightcoral;
  /* z-index: 1; */
}

.card-slide_loveInvestors .box-top-slide_loveInvestors .box-top-title-slide_loveInvestors {
  color: var(--primaryAdaaColor);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
  background: lightgreen;
}
.box-top-content-slide_loveInvestors {
}
/* ************************************** */

@media screen and (max-width: 1050px) {
  .carousel-container-slide_loveInvestors .card-container-slide_loveInvestors .card-slide_loveInvestors {
    flex-direction: column;
  }
    .carousel-container-slide_loveInvestors {
      width: 50rem;
    }
    .carousel-container-slide_loveInvestors .card-container-slide_loveInvestors {
        width: 50rem !important;
    }
    .nav-slide_loveInvestors .prev {
      left: -30px;
    }
}
@media screen and (max-width: 860px) {
    .carousel-container-slide_loveInvestors {
      width: 35rem;
    }
    .carousel-container-slide_loveInvestors .card-container-slide_loveInvestors {
        width: 35rem !important;
    }
    
}
@media screen and (max-width: 650px) {
  .nav-slide_loveInvestors .prev {
    left: -10px;
  }
  .nav-slide_loveInvestors .next {
    right: -10px;
  }
  .carousel-container-slide_loveInvestors {
    width: 25rem;
  }
  .carousel-container-slide_loveInvestors .card-container-slide_loveInvestors {
      width: 25rem !important;
  }
  .boxLeft_text_slide_loveInvestors,
  .boxLeft_text_author_slide_loveInvestors {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media screen and (max-width: 400px) {
  .nav-slide_loveInvestors .prev {
    left: -0px;
    background: transparent;
  }
  .nav-slide_loveInvestors .next {
    right: -0px;
  }
}





/* ********************************************* */
   /* ********************************************* */
    /* ********************************************* */

    .boxLeft_slide_loveInvestors {
      /* background: var(--primaryAdaaColor);
      background: #000; */
      /* padding-top: 2rem;
      padding-bottom: 2rem; */
      padding: 0 1rem 0 1rem;
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 30rem;
      align-items: center;
  }
  .boxLeft_text_slide_loveInvestors {
      text-align: justify;
      font-size: 1rem;
      line-height: 1.3rem;
  }
  .boxLeft_text_author_slide_loveInvestors {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 1rem;
      text-align: right;
      font-size: 1rem;
      line-height: 1.3rem;
      font-weight: 700;
      color: var(--primaryAdaaColor);
  }
  .boxLeft_text_author_slide_loveInvestors span {
      color: #000;
  }
  
  .boxRight_slide_loveInvestors {
      position: relative;
      height: 100%;
      width: 28rem;
      padding-right: 0.5rem;
  }
  .boxRight_slide_loveInvestors img.bg_picture_slide_loveInvestors {
      position: relative;    
      width: 100%;
      height: 100%;
      /* height: auto; */
      object-fit: contain;
      border-radius: unset !important;
  }
  
  .boxRight_text_slide_loveInvestors {
      position: absolute;    
      max-width: 17rem;
      height: 17rem;
      bottom: -3rem;
      right: 0;
      padding-left: 2rem;
      padding-right: 2rem;
      border-radius: 50%;
      background: rgba(0, 0, 139, 0.7);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 0.9rem;
      font-weight: 400;
      color: gold;
  }
  .boxRight_text_slide_loveInvestors .box-top-slide_loveInvestors img{
      width: auto;
      height: 3rem;
  }
  
  .boxRight_slide_loveInvestorsBtn_container {
      position: absolute;
      bottom: 0;
      padding: 1rem;
      display: flex;
      padding-left: 2rem;
  }
  
  
  @media only screen and (max-width: 1060px) {
    .container_slide_loveInvestors {
        /* margin-top: 6rem; */
        height: unset !important;
        min-height: 45rem;
        padding-left: 0rem;
        padding-right: 0rem;
        flex-direction: column;
        margin-bottom: 5rem;
    }
    
    /* .carousel-container-slide_loveInvestors .card-container-slide_loveInvestors .card-slide_loveInvestors {
      
      height: 60rem !important;
    } */
  
    .boxLeft_slide_loveInvestors {
        margin-bottom: 1rem;
        width: 90%;
    }
  }
  @media only screen and (max-width: 930px) {
    .boxRight_slide_loveInvestors {
        width: 30rem;
    }
    .section07_invest .section07_invest_title .section07_invest_title_text_big {
        width: 80%;
    }
    
  
    
    .boxRight_slide_loveInvestors {
        width: 95%;
    }
    .boxRight_slide_loveInvestors img.bg_picture_slide_loveInvestors {
        width: 100%;
        height: auto;
    }
    .containerBottom_slide_loveInvestors {
        margin-top: 7rem;
        width: 100%;
    }
  }
  
    /* **************************************************** */
  