/* *************************** */
/* *************************** */
/* *************************** */

.section06_business {    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    line-height: 1.2rem;
    padding: 0rem 1rem 3rem 1rem;
    height: 100vh;
}  
.section06_business .section06_business_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
}

.section06_business .section06_business_title .section06_business_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* color: var(--primaryAdaaColor); */
font-size: 1.5rem;
font-weight: 700;
line-height: 2rem;
}
.section06_business .section06_business_title .section06_business_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1rem;
line-height: 1.5rem;
font-weight: 400;
width: 60rem;
}
/*  */

.container_s6_businessBtn_container {
    position: relative;
    display: flex;    
    justify-content: center;
    align-items: center;
    display: flex;
    height: 4rem;
}


@media only screen and (max-width: 927px) {
    .section06_business .section06_business_title .section06_business_title_text_big {
        width: 80%;
    }
    .section06_business .section06_business_title .section06_business_title_text_small {
        width: 80%;
    }
}