

.section01_formateur{
    padding-top: 4rem;
    position: relative;
    display: block;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.section01_formateur img.bg_picture_s1_formateur {
    position: absolute;    
    width: auto;
    height: 110%;
    /* height: auto; */
    object-fit: cover;
    border-radius: unset !important;
}
.section01_formateur .teaser_s1_formateur_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
    padding: 1rem;
    right: 0;
    width: 50%;
    height: 100%;
    /* background: var(--primaryAdaaColor); */
    background: rgb(37, 51, 107);
    color: white;
}


.section01_formateur .teaser_s1_formateur_container .teaser_s1_formateur_title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
}
.teaser_s1_formateur_title .teaser_s1_formateur_title_text {
    display: flex;
    flex-direction: column;
}
.teaser_s1_formateur_title .teaser_s1_formateur_title_text span{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    text-transform: none !important;
}
.teaser_s1_formateurBtn_container {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 1250px) {
    /* .section01_formateur .teaser_s1_formateur_container {
        width: 50%;
    } */
}

@media only screen and (max-width: 900px) {
    .section01_formateur{
        height: unset;
        min-height: 100vh;
    }
    .section01_formateur .teaser_s1_formateur_container {
        width: 100%;
        background: rgba(37, 51, 107, 0.7);
    }
}






