
.grid-container-section02 .item {
box-shadow: 5px 5px 10px rgb(0 0 0 / 0.5);
background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230f70b8FF' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
height: 13rem;
width: 13.5rem;
padding: 0 0.1rem 0.1rem 0.1rem;

}
.grid-container-section02 .item .box-top-p {
/* position: relative; */
display: flex;
align-items: center;
justify-content: center;
/* width: 100%; */
/* height: 10rem; */
box-shadow: unset;
margin-top: 1rem;
margin-bottom: 1rem;
min-height: 2rem;
}
.grid-container-section02 .item .box-top-p img{
    height: 50px;
    width: auto;
}
/* .grid-container-section02 .item .box-top-p .one_img{
width: 100%;
height: 100%;
object-fit: cover;
} */

.grid-container-section02 .item .box-bottom-p {
height: 2rem;
position: relative;
line-height: 1.3rem;
font-size: 0.9rem;
padding: 0 3px 3px 3px;
}

.grid-container-section02 .item .box-bottom-p .box-bottom-title-p {
margin-top: 0.5rem;
margin-bottom: 0.2rem;
text-transform: uppercase;
font-weight: 700;
}

.grid-container-section02 .item .box-bottom-p .box-bottom-content-p {
color: var(--secondaryAdaaColor);
font-size: 0.8rem;
font-weight: 500;
}


@media only screen and (max-width: 768px) {
.grid-container-section02 .item .box-bottom-p {
    min-height: 10rem;
}
}