/* *************************** */
/* *************************** */
/* *************************** */

.section05_business {    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    line-height: 1.2rem;
    padding: 3rem 1rem 0 1rem;
}  
.section05_business .section05_business_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section05_business .section05_business_title .section05_business_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* color: var(--primaryAdaaColor); */
font-size: 1.5rem;
font-weight: 700;
line-height: 2rem;
}
.section05_business .section05_business_title .section05_business_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1rem;
line-height: 1.5rem;
font-weight: 400;
width: 60rem;
}
/*  */



@media only screen and (max-width: 927px) {
    .section05_business .section05_business_title .section05_business_title_text_big {
        width: 80%;
    }
    .section05_business .section05_business_title .section05_business_title_text_small {
        width: 80%;
    }
}