
.grid-container-section02_invest .item {
    /* box-shadow: 5px 5px 10px rgb(0 0 0 / 0.5); */
    /* border: 10px solid var(--primaryAdaaColor);
    border-radius: 60px;
    display: block;
    position: relative; */
    /* display: flex;
    flex-direction: column; */
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230f70b8FF' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
    /* min-height: 20rem; */
    height: fit-content;
    
    }
    .grid-container-section02_invest .item_container_s2_invest {
        border: 7px solid var(--primaryAdaaColor);
        border-radius: 60px;
        display: block;
        position: relative;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        min-height: 80%;
        width: 17rem;
    }
    
    .grid-container-section02_invest .item_container_s2_invest .box-bg-s2_invest {
        position: absolute;
        top: -1rem;
        right: -1rem;
        width: 85%;
        height: 68%;
        background: white;
        z-index: 0;

    }
    .grid-container-section02_invest .item_container_s2_invest .box-bg-s2_invest::before {
        position: absolute;
        content: '';
        /* bottom: -4.5rem;
        right: -10rem; */
        bottom: -72%;
        left: -40%;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 0;
    }

    .grid-container-section02_invest .item_container_s2_invest .box-top-s2_invest {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    /* width: 3rem; */
    box-shadow: unset;
    margin-top: 1rem;
    margin-bottom: 1rem;
    z-index: 1;
    }
    .grid-container-section02_invest .item_container_s2_invest .box-top-s2_invest .one_img {
        position: relative;
        height: 3rem;
        width: auto;
    }
    
    .grid-container-section02_invest .item_container_s2_invest .box-bottom-s2_invest {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    line-height: 1.2rem;
    font-size: 0.8rem;
    
    /* text-transform: lowercase; */
    z-index: 1;
    }
    .grid-container-section02_invest .item_container_s2_invest .box-bottom-s2_invest a{
        text-decoration: none;
        color:var(--primaryAdaaColor);
        font-weight: 700;
    }

    .grid-container-section02_invest .item_container_s2_invest .box-bottom-s2_invest .box-bottom-title-s2_invest {
        color: var(--primaryAdaaColor);
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2rem;
        padding-bottom: 0.5rem;
    }
    
    /* .grid-container-section02_invest .item .box-right-s2_invest {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    } */

    .grid-container-section02_invest .item_2_s2_invest {
        margin-top: 3rem;
        /* background: lightcoral; */
    }
    .grid-container-section02_invest .item_2_s2_invest .box-bg-s2_invest {
        position: absolute;
        top: -1rem;
        left: -1rem;
        width: 85%;
        height: 68%;
        background: white;
        z-index: 0;

    }
    .grid-container-section02_invest .item_2_s2_invest .box-bg-s2_invest::before {
        position: absolute;
        content: '';
        /* bottom: -4.5rem;
        right: -10rem; */
        bottom: -70%;
        margin-left: 72%;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 0;
    }
    .grid-container-section02_invest .item_5_s2_invest ,
    .grid-container-section02_invest .item_6_s2_invest  {
        width: 19rem;
        
    }
    .grid-container-section02_invest .item_5_s2_invest .box-bottom-s2_invest .box-bottom-title-s2_invest,
    .grid-container-section02_invest .item_6_s2_invest .box-bottom-s2_invest .box-bottom-title-s2_invest {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .grid-container-section02_invest .item_5_s2_invest .box-bottom-s2_invest .box-bottom-content-s2_invest,
    .grid-container-section02_invest .item_6_s2_invest .box-bottom-s2_invest .box-bottom-content-s2_invest{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    @media only screen and (max-width: 950px) {
        .grid-container-section02_invest .item_2_s2_invest {
            margin-top: 0;
            /* background: lightcoral; */
        }
    }
    @media only screen and (max-width: 768px) {
        .grid-container-section02_invest .item_container_s2_invest .box-bottom-s2_invest {
            /* min-height: 10rem; */
        }
    }