/* *************************** */
/* ************* SECTION 02 ************** */
/* *************************** */

.section02 {
    /* top: 4rem; */
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
}
.section02 img.bg_picture_s2 {
    position: absolute;    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: unset !important;
}
.section02 .bg_color_layer_s2 {
    position: absolute;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.7);
    /* border-top: 100px solid transparent; */
    /* border-right: 100vw solid var(--primaryAdaaColor); */
    opacity: 100%;
}
.section02 .section02_title {
    margin-top: 7rem;
    /* margin-bottom: 2rem; */
    color: white;
}
.section02 .section02_title .section02_title_text_big {
position: relative;
display: inline-block;
flex-direction: column;
justify-content: center;
align-items: center;
/* text-transform: uppercase; */
font-size: 2rem;
font-weight: 400;
line-height: 2.5rem;
}
.section02 .section02_title .section02_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1rem;
line-height: 1.5rem;
font-weight: 400;
}
.grid-container-section02 {
position: relative;
display: grid;
width: 70rem;
height: 90%;
justify-content: center;
grid-template-columns: 1fr 1fr 1fr;
padding: 10px;
grid-gap: auto;
margin-bottom: 7rem;
}
.grid-container-section02 > div {
/* background-color: rgba(255, 255, 255, 0.8); */
text-align: center;
font-size: 0.8rem;
font-weight: 500;
line-height: 1.2rem;
color: #fff;
/* background: coral; */
margin: 1rem;
margin-left: 5rem;
/* padding: 1rem; */
height:fit-content;
}


@media only screen and (max-width: 1070px) {
    .section02 {
        height: unset;
    }
    .section02 .section02_title {
        margin-top: 4rem;
    }
    .grid-container-section02 {
        grid-template-columns: 1fr 1fr;
        height:fit-content;
        width: 50rem;
        
    }
    .grid-container-section02 .item{
        grid-template-columns: 1fr 1fr;
        min-height:10rem;
    }
    
}

@media only screen and (max-width: 768px) {
    .grid-container-section02 > div {
        margin-left: 3rem;
    }
    .grid-container-section02 {
        grid-template-columns: 1fr;
        width: 25rem;
        padding-left: 2.8rem;
    }
    .grid-container-section02 .item{
        grid-template-columns: 1fr;
        min-height:5rem;
    }
    .section02 .section02_title {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .section02 .section02_subtitle {
        font-size: 1.15rem;
        line-height: 1.5rem;
    }
}