

.section02_formateur{
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    display: block;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}
.section02_formateur_container_one,
.section02_formateur_container_two { 
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: lightcoral */
}
.section02_formateur_container_two{
    /* background: lightgreen */
}
.section02_formateur_container_two .section02_formateur_title{
    padding-bottom: 2rem;
}
.container_s2_formateur{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    /* background: lightskyblue; */
}

.section02_formateur .section02_formateur_title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* margin-left: 2rem; */
    text-align: left;
    width: 100%;
}

.section02_formateur .section02_formateur_title .section02_formateur_title_text_big {
position: relative;
display: flex;
justify-content: left;
align-items: center;
color: var(--primaryAdaaColor);
width: 100%;
font-size: 1.5rem;
font-weight: 700;
line-height: 2rem;
text-align: left;
}
.section02_formateur .section02_formateur_title .section02_formateur_title_text_small {
position: relative;
display: flex;
justify-content: left;
align-items: center;
text-transform: unset;
text-align: left;
font-size: 1rem;
line-height: 1.5rem;
font-weight: 400;
width: 100%;
/* width: 60rem; */
}


.boxLeft_s2_formateur {
    /* background: var(--primaryAdaaColor); */
    /* background: #000; */
    /* padding-top: 5rem; */
    /* padding-bottom: 5rem; */
    position: relative;
    display: flex;
    height: 100%;
    width: 40rem;
    align-items: top;
    /* text-align: center; */
    /* background: orangered; */
}


.boxRight_s2_formateur {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: top;
    height: 100%;
    width: 30rem;
    padding: 0 0 0 1rem;
    /* padding-top: 0;
    padding-right: 0; */
    /* background: lightseagreen; */
}
.section02_formateur_right_top_grid {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    width: 100%;
}
.section02_formateur_right_top_left {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 0.5rem;
}
.section02_formateur_right_top_left .box-top_formateur {
    position: relative;
    display: flex;
    width: 100%;
    height: 5rem;
    max-height: 5rem;
    box-shadow: unset;
}
.section02_formateur_right_top_left .box-top_formateur div.perso_formateur {      
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 50%;
    background: var(--primaryAdaaColor);
    border: 3px solid var(--primaryAdaaColor);
}
.section02_formateur_right_top_left .box-bottom_formateur {
    position: relative ;
    display: flex ;
    flex-direction: column ;
    line-height: 1.3rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    height: fit-content;
    /* background: lightseagreen; */
    /* z-index: 1; */
  }
  
  .section02_formateur_right_top_left .box-bottom_formateur .box-bottom-title_formateur {
    /* color: var(--primaryAdaaColor); */
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
  }
  .section02_formateur_right_top_left .box-bottom_formateur .box-bottom-content_formateur {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
  }


.section02_formateur_right_top_right {
    display: flex;
    flex-direction: column;
}
.section02_formateur_right_top_right span{
    display: flex;
    align-items: center;
    line-height: 2rem;
}
.section02_formateur_right_top_right span i,
.section02_formateur_right_top_right span b {
    margin-right: 0.5rem;
}


.section02_formateur_right_bottom {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
}
.section02_formateur_right_bottom_title {
    color: var(--primaryAdaaColor);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}
.section02_formateur_right_bottom_link {
    color: var(--primaryAdaaColor);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
}

/* .section02_formateur .section02_formateur_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
    width: 80%;
}
.section02_formateur .section02_formateur_title .section02_formateur_title_text_big {
    position: relative;
    color: var(--primaryAdaaColor);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
}
.section02_formateur .section02_formateur_title .section02_formateur_title_text_small {
    position: relative;
    display: inline-block;
    justify-content: left;
    align-items: center;
    text-transform: unset;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: var(--primaryAdaaColor);
} */


.boxRight_s2_formateur img.bg_picture_s2_formateur {
    position: absolute;    
    width: 100%;
    height: auto;
    /* height: auto; */
    /* object-fit: contain; */
    border-radius: unset !important;
}

.boxRight_text_s2_formateur {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    width: 80%;
}

.boxRight_s2_formateurBtn_container {
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center;
    /* bottom: 0; */
    /* padding: 3rem; */
    display: flex;
    /* padding-left: 2rem; */
}





@media only screen and (max-width: 1060px) {
    .section02_formateur_container_one,
    .section02_formateur_container_two {
        height: unset;
        min-height: 100vh;
    }
    .section02_formateur{
        /* height: 60rem; */
        width: 100%;
        min-height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container_s2_formateur{
        top: 0;
        flex-direction: column;
        width: 95%;
    }
    .boxRight_s2_formateur {
        max-width: unset;
        width: 100%;
        background-size: cover !important;
        height: 100%;
        padding: 1rem 0 0 0;
    }
    .boxLeft_s2_formateur {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: unset;        
        padding-bottom: unset;
    }
}

@media only screen and (max-width: 820px) {
    .boxLeft_s2_formateur {
        width: 100%;
        height: 100%;
    }
    .boxLeft_s2_formateur video {
        width: 100%;
    }
}
@media only screen and (max-width: 520px) {
    .section02_formateur_right_top_grid {
        grid-template-columns: 1fr;
    }
}

/*  */



