/* *************************** */
/* ************* UTILISER TUNNEL VENTE ************** */
/* *************************** */

.section02_invest {
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    min-height: 100vh;
}  
.section02_invest .section02_invest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    /* margin-bottom: 0.5rem; */
}
.section02_invest_title_underline{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 2px;
    background: #000;
    margin-top: 1rem;
}
.section02_invest_title_underline::before {
    content: "";
    top: -100%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: #000;
    border: 15px solid #fff;
    border-radius: 50%;
}
.section02_invest .section02_invest_title .section02_invest_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 2.5rem;
font-weight: 700;
line-height: 3rem;
}
.section02_invest .section02_invest_title .section02_invest_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1.5rem;
line-height: 2rem;
font-weight: 700;
}
.grid-container-section02_invest {
position: relative;
display: grid;
width: 60rem;
justify-content: center;
grid-template-columns: 1fr 1fr 1fr;
padding: 0px;
grid-gap: auto;
margin-bottom: 7rem;
/* padding-left: 5rem;
padding-right: 5rem; */
}
.grid-container-section02_invest > div {
/* text-align: center; */
font-size: 1.3rem;
font-weight: 500;
line-height: 2rem;
margin: 1rem;
margin-bottom: 0;
/* padding: 1rem; */

/* height:fit-content; */
}

@media only screen and (max-width: 1300px) {
    .grid-container-section02_invest {
        grid-template-columns: 1fr 1fr 1fr;
        height:fit-content;
    }
    .grid-container-section02_invest .item{
        grid-template-columns: 1fr 1fr 1fr;
        /* min-height:10rem; */
    }
}

@media only screen and (max-width: 950px) {
    .section02_invest {
        height: unset !important;
    }
    .grid-container-section02_invest {
        grid-template-columns: 1fr 1fr;
        height:fit-content;
        width: 40rem;
    }
    .grid-container-section02_invest .item{
        grid-template-columns: 1fr 1fr;
        /* min-height:10rem; */
    }
}

@media only screen and (max-width: 630px) {
    .grid-container-section02_invest {
        grid-template-columns: 1fr;
        width: 20rem;
    }
    .grid-container-section02_invest .item{
        grid-template-columns: 1fr;
        /* min-height:5rem; */
    }
    .section02_invest .section02_invest_title {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .section02_invest .section02_invest_subtitle {
        font-size: 1.15rem;
        line-height: 1.5rem;
    }
}