/* *************************** */
/* *************************** */
/* *************************** */

.section15_invest {
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
}  
.section15_invest .section15_invest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.section15_invest .section15_invest_title .section15_invest_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 3rem;
font-weight: 700;
line-height: 3rem;
}
.section15_invest .section15_invest_title .section15_invest_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1.5rem;
line-height: 2.5rem;
font-weight: 400;
width: 60rem;
}
/*  */

@media only screen and (max-width: 927px) {
    .section15_invest {
        height: unset;
        padding-top: 2rem;
    }
    .section15_invest .section15_invest_title .section15_invest_title_text_big {
        width: 80%;
    }
    .section15_invest .section15_invest_title .section15_invest_title_text_small {
        width: 80%;
    }
}