

.section12_invest{
    position: relative;
    display: block;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    height: 100vh;
}

.container_s12_invest{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    /* background: blue; */
}

.boxLeft_s12_invest {
    /* background: var(--primaryAdaaColor); */
    /* background: #000; */
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    display: flex;
    height: 110%;
    width: 45%;
    align-items: center;
    text-align: center;
    /* background: lightcoral; */
}
.boxLeft_s12_invest img.bg_picture_s12_invest {
    position: relative;    
    width: 100%;
    height: 100%;
    /* height: auto; */
    object-fit: contain;
    border-radius: unset !important;
}


.boxRight_s12_invest {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 55%;
    /* background: lightgreen; */
}

.section12_invest .section12_invest_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
}
.section12_invest .section12_invest_title .section12_invest_title_text_big {
    position: relative;
    color: var(--primaryAdaaColor);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem;
}
.section12_invest .section12_invest_title .section12_invest_title_text_small {
    position: relative;
    display: inline-block;
    justify-content: left;
    align-items: center;
    text-transform: unset;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: var(--primaryAdaaColor);
}




.boxRight_text_s12_invest {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8rem;
    width: 80%;
}



@media only screen and (max-width: 1060px) {
    .section12_invest{
        /* height: 80rem; */
        width: 100%;
        height: unset !important;
        min-height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        padding-top: 2rem;
    }
    .container_s12_invest{
        top: 0;
        flex-direction: column;
        width: 95%;
    }
    .boxRight_s12_invest {
        max-width: unset;
        width: 100%;
        background-size: cover !important;
        padding: 2rem 1rem 2rem 1rem;
        height: auto;
    }
    .boxLeft_s12_invest {
        width: 70%;
        height: auto;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: unset;        
        padding-bottom: unset;
    }
}





