/* *************************** */
/* ************* UTILISER TUNNEL VENTE ************** */
/* *************************** */

.section05_invest {
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    min-height: 100vh;
}  
.section05_invest .section05_invest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* margin-bottom: 1rem; */
}
.section05_invest_title_underline{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 2px;
    background: #000;
    margin-top: 1rem;
}
.section05_invest_title_underline::before {
    content: "";
    top: -100%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: #000;
    border: 15px solid #fff;
    border-radius: 50%;
}
.section05_invest .section05_invest_title .section05_invest_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 2rem;
font-weight: 700;
line-height: 3rem;
text-transform: uppercase;
}
.section05_invest .section05_invest_title .section05_invest_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 2rem;
line-height: 2.5rem;
font-weight: 700;
}
.grid-container-section05_invest {
position: relative;
display: grid;
width: 90%;
justify-content: center;
grid-template-columns: 1fr 1fr 1fr;
padding: 10px;
grid-gap: auto;
margin-bottom: 4rem;
/* padding-left: 3rem;  */
/* padding-right: 3rem;  */
}
.grid-container-section05_invest > div {
/* text-align: center; */
font-size: 1.3rem;
font-weight: 500;
line-height: 2rem;
margin: 1rem;
padding: 0.5rem;
/* padding-left: 1rem; */
padding-right: 2rem;
/* height:fit-content; */
}

@media only screen and (max-width: 1300px) {
    .grid-container-section05_invest {
        grid-template-columns: 1fr 1fr 1fr;
        height:fit-content;
    }
    .grid-container-section05_invest .item{
        grid-template-columns: 1fr 1fr 1fr;
        /* min-height:10rem; */
    }
}

@media only screen and (max-width: 991px) {
    .section05_invest {
        height: unset;
    }
    .grid-container-section05_invest {
        padding-left: 5rem; 
        padding-right: 5rem; 
    }
    .grid-container-section05_invest {
        grid-template-columns: 1fr 1fr;
        height:fit-content;
        width: 50rem;
    }
    .grid-container-section05_invest .item{
        grid-template-columns: 1fr 1fr;
        /* min-height:10rem; */
    }
}

@media only screen and (max-width: 620px) {
    .grid-container-section05_invest {
        padding-left: 4rem; 
        padding-right: 4rem; 
    }
    .grid-container-section05_invest {
        grid-template-columns: 1fr;
        width: 25rem;
    }
    .grid-container-section05_invest .item{
        grid-template-columns: 1fr;
        /* min-height:5rem; */
    }
    .section05_invest .section05_invest_title {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .section05_invest .section05_invest_subtitle {
        font-size: 1.15rem;
        line-height: 1.5rem;
    }
}