/* *************************** */
/* *************************** */
/* *************************** */

.section18_invest {    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    line-height: 1.2rem;
    padding: 3rem 1rem 3rem 1rem;
    min-height: 100vh;
}  
.section18_invest .section18_invest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}



.section18_invest .section18_invest_title .section18_invest_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 3rem;
font-weight: 700;
line-height: 3rem;
}
.section18_invest .section18_invest_title .section18_invest_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1rem;
line-height: 1.5rem;
font-weight: 500;
width: 60rem;
}


.section18_invest_container {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
}

/*  */
.grid-container-section18_invest{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: top;
    grid-template-columns: 1fr 1fr;
    /* padding: 10px; */
}


.grid-container-section18_invest > div {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 1;
}




.grid-container-itemLeft-section18_invest{
    position: relative;
    display: grid;
    min-width: 10rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 10fr;
    padding: 10px;
    margin-bottom: 1rem;
}
.grid-container-itemLeft-section18_invest .box-left-s18_invest {
position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 3rem;
height: 100%;
box-shadow: unset;
}
.grid-container-itemLeft-section18_invest .box-left-s18_invest .one_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.grid-container-itemLeft-section18_invest .box-right-s18_invest {
position: relative;
padding-left: 0.7rem;
display: flex;
flex-direction: column;
align-items: left;
justify-content: center;
text-align: left;
line-height: 1.6rem;
font-size: 1rem;
font-weight: 700;
}
.grid-container-itemLeft-section18_invest .box-right-s18_invest span{
    color: var(--primaryAdaaColor);
}

/*  */
/*  */
.grid-container-itemRight-section18_invest{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: top;
    grid-template-columns: 1fr;
}
.grid-container-itemRight-section18_invest div{
    padding-bottom: 0.8rem;
}

.submit_btn_container_s18_invest {
    position: relative;
    width: 100%;
    /* margin-top: 2rem; */
    height: 3rem;
    /* background: #000; */
    padding:  0 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */



@media only screen and (max-width: 927px) {
    .section18_invest {
        height: unset;
    }
    .section18_invest .section18_invest_title .section18_invest_title_text_big {
        width: 80%;
    }
    .section18_invest .section18_invest_title .section18_invest_title_text_small {
        width: 80%;
    }
}
@media only screen and (max-width: 870px) {
    .grid-container-section18_invest{
        grid-template-columns: 1fr;
    }
    .grid-container-section18_invest:before {
        display: none;
    }
}