/* *************************** */
/* ************* UTILISER TUNNEL VENTE ************** */
/* *************************** */

.categories {
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
    height: 100vh;
} 
.heightFull {
    height: unset !important;
    min-height: 100vh;
}
.displayNone {
    display: none;
}
.categories_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
} 
.categories .categories_title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.categories .categories_title .categories_title_text_big {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--primaryAdaaColor);
font-size: 1.8rem;
font-weight: 700;
line-height: 2rem;
}
.categories .categories_title .categories_title_text_small {
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
text-transform: unset;
font-size: 1rem;
line-height: 1.5rem;
font-weight: 700;
}
.grid-container-categories {
position: relative;
display: grid;
width: auto;
justify-content: center;
grid-template-columns: 1fr 1fr 1fr 1fr;
padding: 10px;
grid-gap: auto;
/* margin-bottom: 2rem; */
}
.grid-container-categories > div {
/* text-align: center; */
font-size: 1rem;
font-weight: 500;
line-height: 1.5rem;
margin: 1rem;
/* padding: 1rem; */
/* height:fit-content; */
}

.categories_btn_container {
    position: relative;
    width: 100%;
    height: 4rem;
    /* padding:  0 0 rem 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories_voir_plus_btn {
    cursor: pointer;
    background: white;
    border-radius: 10px;
    min-width: 12rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    line-height: 1.2rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--primaryAdaaColor);
    text-decoration: unset;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

@media only screen and (max-width: 1050px) {
    .grid-container-categories {
        grid-template-columns: 1fr 1fr 1fr;
        height:fit-content;
    }
    .grid-container-categories .item{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .categories {
        height: unset !important;
        min-height: 100vh;
    }
}

@media only screen and (max-width: 770px) {
    .grid-container-categories {
        grid-template-columns: 1fr 1fr;
        height:fit-content;
    }
    .grid-container-categories .item{
        grid-template-columns: 1fr 1fr;
        /* min-height:10rem; */
    }
}

@media only screen and (max-width: 590px) {
    .grid-container-categories {
        grid-template-columns: 1fr;
    }
    .grid-container-categories .item{
        grid-template-columns: 1fr;
        /* min-height:5rem; */
    }
    .categories .categories_title {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .categories .categories_subtitle {
        font-size: 1rem;
        line-height: 1.3rem;
    }
}