

.section01_invest{
    padding-top: 4rem;
    position: relative;
    display: block;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

.container_s1_invest{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.boxLeft_s1_invest {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}
.boxLeft_s1_invest img.bg_picture_s1_invest {
    position: absolute;    
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover; 
}
.boxLeft_s1_invest img.bg_picture_left_s1_invest,
.boxLeft_s1_invest img.bg_picture_right_s1_invest {
    position: absolute;
    left: 0;
    top: 0;
    width: 2rem;
    height: 100%;
    /* opacity: 0.5; */
}
.boxLeft_s1_invest img.bg_picture_right_s1_invest {
    left: unset;
    right: 0;
}

.boxLeft_text_s1_invest {
    position: absolute;    
    width: 19rem;
    height: 19rem;
    bottom: 7%;
    right: 7%;
    /* padding-left: 2rem;
    padding-right: 2rem; */
    border-radius: 50%;
    /* background: rgba(0, 0, 139, 0.7) url() center center no-repeat; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    color: gold;
}
.boxLeft_text_s1_invest_container {
    position: relative;
    display: flex;
    width: 17rem;
    height: 17rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    color: gold;
    background: rgba(0, 0, 139, 0.7);
}
/* .boxLeft_text_s1_invest:after {
    position: absolute;
    display: block;
    background: lightgreen;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} */
.boxLeft_text_s1_invest .box-top-s1_invest img{
    width: auto;
    height: 3rem;
}
.box-bottom-title-s1_invest{
    font-size: 1.1rem;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.boxLeft_s1_investBtn_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    padding-left: 3rem;
}
.boxRight_s1_invest {
    background: var(--primaryAdaaColor);
    background: #000;
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
    position: relative;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    text-align: center;
}


@media only screen and (max-width: 1070px) {
    .section01_invest{
        /* min-height: 30rem; */
        width: 100%;
        height: unset !important;
        min-height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container_s1_invest{
        top: 0;
        flex-direction: column;
        width: 95%;
    }
    .boxLeft_s1_invest {
        max-width: unset;
        width: 100%;
        background-size: cover !important;
        height: 30rem;
    }
    .boxRight_s1_invest {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: unset;        
        padding-bottom: unset;
        background: unset !important;
    }
    .boxRight_s1_invest video {
        width: 100%;
    }
}

@media only screen and (max-width: 820px) {
    .boxRight_s1_invest {
        width: 100%;
        height: 100%;
    }
    .boxRight_s1_invest video {
        width: 100%;
    }
}





