/* *************************** */
/* ************* SECTION 02 ************** */
/* *************************** */

.section02_ambassador {
    /* top: 4rem; */
    line-height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* margin-top: 5rem; */
    text-align: center;
    overflow: hidden;
}
.section02_ambassador img.bg_picture_s2 {
    position: absolute;    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: unset !important;
}
.section02_ambassador .bg_color_layer_s2 {
    position: absolute;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.7);
    /* border-top: 100px solid transparent; */
    /* border-right: 100vw solid var(--primaryAdaaColor); */
    opacity: 100%;
}
.section02_ambassador .section02_ambassador_description {
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;;
    justify-content: left;
    text-align: left;
    width: 100%;
    padding-left: 2rem;
    padding-right: 50%;
}
.section02_ambassador .section02_ambassador_description .section02_ambassador_description_title {
position: relative;
/* text-transform: uppercase; */
font-size: 1.5rem;
font-weight: 700;
line-height: 2rem;
color: gold;

}
.section02_ambassador .section02_ambassador_description .section02_ambassador_description_content {
position: relative;
font-size: 1rem;
line-height: 1.3rem;
font-weight: 400;
}


.containerBottom_s2_ambassador {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 3rem;
}


@media only screen and (max-width: 950px) {
    .section02_ambassador {
        height: unset;
    }
}
@media only screen and (max-width: 768px) {
    .containerBottom_s2_ambassador .item {
        width: 20rem
    }
    .section02_ambassador .section02_ambassador_description {
        padding-right: 20%;
    }
}