
.grid-container-categories .item {
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.3);
    display: flex;
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230f70b8FF' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
    /* min-height: 20rem; */
    
    }
    .displayNone {
        display: none !important;
    }
    .grid-container-categories .item .box-left-categories {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 2rem;
    width: 3rem;
    box-shadow: unset;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    .grid-container-categories .item .box-left-categories .one_img {
        height: 2rem;
        width: auto;
    }
    
    .grid-container-categories .item .box-right-categories {
    position: relative;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    text-align: left;
    /* justify-content: left; */
    line-height: 1.3rem;
    font-size: 1rem;
    /* text-transform: lowercase; */
    }
    
    /* .grid-container-categories .item .box-right-categories {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    } */
    
    
    
    @media only screen and (max-width: 768px) {
    .grid-container-categories .item .box-right-categories {
        /* min-height: 10rem; */
    }
    }