
.containerBottom_s2_ambassador .item {
/* box-shadow: 5px 5px 10px rgb(0 0 0 / 0.5); */
/* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230f70b8FF' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
min-height: 10rem;
text-align: center;
font-size: 1rem;
font-weight: 500;
line-height: 1.3rem;
color: #fff;
margin: 0 1rem;
padding: 1rem;
width: 25%;
height:fit-content;

}
.containerBottom_s2_ambassador .item .box-top-s2_ambassador {
/* position: relative; */
display: flex;
align-items: center;
justify-content: center;
/* width: 100%; */
/* height: 10rem; */
box-shadow: unset;
margin-bottom: 1rem;
min-height: 5rem;
}
.containerBottom_s2_ambassador .item .box-top-s2_ambassador img{
    height: 5rem;
    width: auto;
}

.containerBottom_s2_ambassador .item .box-bottom-s2_ambassador {
min-height: 3rem;
position: relative;
line-height: 1.5rem;
font-size: 0.9rem;
}


.containerBottom_s2_ambassador .item .box-bottom-s2_ambassador .box-bottom-content-s2_ambassador {
color: var(--secondaryAdaaColor);
font-size: 0.9rem;
font-weight: 400;
}


@media only screen and (max-width: 768px) {
    .containerBottom_s2_ambassador .item {
        width: 20rem
    }
}

